#amino_select_1_hands,#amino_select_2_hands,#amino_select_3_hands,
#amino_select_1_horns,#amino_select_2_horns,#amino_select_3_horns,
#amino_select_1_mouth,#amino_select_2_mouth,#amino_select_3_mouth,
#amino_select_1_tail,#amino_select_2_tail,#amino_select_3_tail
{
    float: left; font-size: 20px; font-weight: bold;
}

#amino_1_hands,#amino_2_hands,#amino_3_hands,
#amino_1_horns,#amino_2_horns,#amino_3_horns,
#amino_1_mouth,#amino_2_mouth,#amino_3_mouth,
#amino_1_tail,#amino_2_tail,#amino_3_tail
{ 
    cell-spacing: 0; margin: 0; cell-padding: 0; padding: 0;
}

