/* root element for scrollable */
.vertical {  
	
	/* required settings */
	position:relative;
	overflow:hidden;	

	/* vertical scrollers have typically larger height than width */
		
	height: 48px;	 
	width: 200px;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;	
}

/* root element for scrollable items */
.items {	
	position:absolute;
	/*overflow:hidden;*/
	
	/* this time we have very large space for height */	
	height:25px;	
	margin: 0px;
}

/* single scrollable item */
.item {

	margin:2px 5px;
	padding:2px;
	font-size:36px;
	height:36px;
}

/* elements inside single item */
.item img {
	float:left;
	margin-right:20px;
	height:180px;
	width:240px;
}

.item h3 {
	margin:0 0 5px 0;
	font-size:16px;
	color:#456;
	font-weight:normal;
}

/* the action buttons above the scrollable */
.actions {
	width:100px;
	margin:0px 0 10px 0;	
}

.actions a {
	font-size:11px;		
	cursor:pointer;
	color:#666;
}

.actions a:hover {
	text-decoration:underline;
	color:#000;
}

a.browse {
	background:url(/static/images/vert_large.png) no-repeat;
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:40px 10px;
	cursor:pointer;
	font-size:1px;
}

/* up and down */
a.up, a.down		{ 
	background:url(/static/images/vert_large.png) no-repeat; 
	float: none;
	margin: 10px 40px;
}

/* up */
a.up:hover  		{ background-position:-30px 0; }
a.up:active  		{ background-position:-60px 0; }

/* down */
a.down 				{ background-position: 0 -30px; }
a.down:hover  		{ background-position:-30px -30px; }
a.down:active  	{ background-position:-60px -30px; } 

.disabled {
	visibility:hidden;		
}

.next {
	float:right;
}

.heading	{font-size: xx-large; font-weight: bold;}
#weakness	{text-align: right; font-size:20px; width:50%;}
#ready	{margin-left:80px;margin-right:80px;text-align:center}

#lab_monster	{margin: 0px 5px;width:60px;height:80px}

#pheno_img_hands	{height:100px; width:100px;}
#pheno_img_horns, #pheno_img_mouth, #pheno_img_tail {
	height:50px; width:50px;
}
#pheno_text_hands, #pheno_text_horns, #pheno_text_mouth, #pheno_text_tail{
	font-size: 26px; font-weight:bold; width:50px;
}

.ui-block-a, .ui-block-b, .ui-block-c , .ui-grid-a, .ui-grid-b {
	text-align:center;
}

.right	{text-align: right;}

#selected_image	{width:40px; height:40px}
#selected_phenotype	{font-size: 24px; font-weight:bold;}
#selected_amino_1	{color: #FF6666; font-weight:bold;}
#selected_amino_2	{color: #FFFF66; font-weight:bold;}
#selected_amino_3	{color: #99CCFF; font-weight:bold;}

div#body_parts	{
	text-align:center;
}

table#body_parts{
	margin-left: auto; 
	margin-right: auto;
	border:0px;
}

li.bodypart	{
	text-transform: uppercase;
}

img.phenotype	{
	height:80px;
	width:80px;
}

p.aminoseq	{
	font-size:18px;
}

table#code {
	width:90%;
	text-align: center;
	background: white;
}

table.header	{font-size: 20px; font-weight: bold;}

#outcome	{
	font-size: 72px;
}

div#graveyard	{text-align: right; display: inline; float: right;}
/* "choose another enemy" button div */