
.heading	{font-size: xx-large; font-weight: bold;}
#weakness	{text-align: right; font-size:20px; width:50%;}
#ready	{margin-left:80px;margin-right:80px;text-align:center}

#lab_monster	{margin: 0px 5px;width:60px;height:80px}

#pheno_img_hands	{height:100px; width:100px;}
#pheno_img_horns, #pheno_img_mouth, #pheno_img_tail {
	height:50px; width:50px;
}
#pheno_text_hands, #pheno_text_horns, #pheno_text_mouth, #pheno_text_tail{
	font-size: 26px; font-weight:bold; width:50px;
}

.ui-block-a, .ui-block-b, .ui-block-c , .ui-grid-a, .ui-grid-b {
	text-align:center;
}

.right	{text-align: right;}

#selected_image	{width:40px; height:40px}

#selected_amino_1	{color: #FF6666; font-weight:bold;}
#selected_amino_2	{color: #FFFF66; font-weight:bold;}
#selected_amino_3	{color: #99CCFF; font-weight:bold;}

div#body_parts	{
	text-align:center;
}

table#body_parts{
	margin-left: auto; 
	margin-right: auto;
	border:0px;
}

li.bodypart	{
	text-transform: uppercase;
}

img.phenotype	{
	height:80px;
	width:80px;
}

p.aminoseq	{
	font-size:18px;
}

table#code {
	width:90%;
	text-align: center;
	background: white;
}

table.header	{font-size: 20px; font-weight: bold;}


div#graveyard	{text-align: right; display: inline; float: right;}
/* "choose another enemy" button div */


div.amino {
	font-size: 20px;
	font-weight: bold;
}

.nucleotide {
	display: inline;
	padding: .2em;
}

.ui-block-a, .ui-block-b, .ui-block-c {
	padding: 20px 0 10px 0;
}

/* begin graveyard accordion section */
img.enemy_browse {
	width: 12em;
	height: 16em;
}

.roundabout-holder {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 30em;
  width: 18em;
}
.roundabout-moveable-item {
  height: 28em;
  width: 17em;
  padding: 1.5em;
  cursor: pointer;
  background-color: #000000;
  border: 1px solid #999;
}

 .roundabout-in-focus {
      cursor: auto;
 }
 
 a {
	text-decoration:none;
}

div.content {
	min-height: 32em;
	display: block;
	text-align:center;
}

ul#graveyard_list {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

li {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h2, h4 {
	color: #ffffff;
}

h2 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	font-weight:normal;
}

img#enemy_preview {
	width: 15em;
	height: 20em;
}