<!DOCTYPE html>
<html>
<head>
    <title>Beasties Homepage</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
    <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head>

<body> 
<div data-role="page" id="index">

    <div data-role="header" data-theme="a">
        <h1>Homepage</h1>
    </div><!-- /header -->

    <div data-role="content" data-theme="a">
        Homepage
    </div><!-- /content -->
    
    <div data-role="footer" data-theme="a">
    </div><!-- /header -->
</div><!-- /page -->
</body>

</html>
