<!DOCTYPE html>
<html>
<head>
    <title>404</title>
</head>

<body>
<!--{{error_message}} -->

<div data-role="page" id="index">

    <div data-role="header" data-theme="a">
        <h1>WOOPS!</h1>
    </div><!-- /header -->

    <div data-role="content" data-theme="a">
        <p>
        An error has occured!
        <img src="/static/images/enemies/zombie.jpg"/>
        </p>
    </div><!-- /content -->
    
    <div data-role="footer" data-theme="a">
    </div><!-- /header -->
</div><!-- /page -->
</body>

</html>
