
<!DOCTYPE html> 
<html> 

<head>
<title>The Lab!</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
	<!-- Scripts -->
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>
	<script type="text/javascript" src="/static/javascript/jquery.tools.min.js"></script>
    
    <!-- Unique CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/genetic_code_table.css" />
    {% if user_is_mobile %}
    <link rel="stylesheet" type="text/css" href="/static/css/scrollable-vertical-mobile.css" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="/static/css/scrollable-vertical-desktop.css" />
    {% endif %}
    
	<style>
.ui-btn-text {
white-space: normal;
}

.locked {
    background-color:#999999
    color: #CCCCCC
}
	</style>
</head> 

	

<body> 

<!--LAB-->
<div data-role="page" id="lab">

	<div data-role="header">
		<table width=100%>
		<tr>
			<td width=50%>
                <span style="font-size: xx-large; font-weight: bold;">
                    The Lab
                </span>
                <a href="#phenotypes" data-role="button" data-transition="slidedown" data-icon="arrow-d" data-theme="b">
                Phenotype Handbook
                </a>
            </td>
			<td width=50% style="text-align: right; font-size:20px">
                <span>
                <img id="lab_monster" align="right" src="{{enemy.image_filename}}" width="60px" height="80px" style="margin: 0px 5px;"/>
                Weakness:
                {% for weakness, count in weakness_count.items %}
                    {{weakness}} x{{count}}
                {% endfor %}
                <br />
                <a href="#fight_confirm" id="fight_button" data-role="button" data-inline="true" data-theme="b">Fight!</a>
                </span>
            </td>
		</tr>
		</table>
	</div><!-- /header -->

	<div data-role="content" data-theme="d">	
    <div style="text-align: center;">

		<table cellspacing=0 border=0 style="margin-left: auto; margin-right: auto">
			<tr>
				<td valign="bottom"><img id="pheno_img_hands" src="/static/images/phenotypes/normal-hands.jpg"/></td>
				<td valign="bottom"><img id="pheno_img_horns" src="/static/images/phenotypes/normal-horns.jpg" height="50px" width="50px"/></td>
				<td valign="bottom"><img id="pheno_img_mouth" src="/static/images/phenotypes/normal-mouth.jpg" height="50px" width="50px"/></td>
				<td valign="bottom"><img id="pheno_img_tail"src="/static/images/phenotypes/normal-tail.jpg" height="50px" width="50px"/></td>
			</tr>
			<tr>
				<td id="pheno_text_hands" width="50px" style="font-size: 26px; font-weight:bold">Normal Hands</td>
				<td id="pheno_text_horns" width="50px" style="font-size: 26px; font-weight:bold"></td>
				<td id="pheno_text_mouth" width="50px" style="font-size: 26px; font-weight:bold"></td>
				<td id="pheno_text_tail" width="50px" style="font-size: 26px; font-weight:bold"></td>
			</tr>
		</table>		
    </div>

{% for bodypart in bodyparts %}
        <div id="lab_{{bodypart}}"><!-- {{bodypart}} -->  
            <div class="ui-grid-b" style="text-align:center">
                
                <!--
                {% for i in template_mapping %}
                    <div class="ui-block-{{ i|last }}">
                    <div id="amino_select_{{i|first}}_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">
                    Bwycine
                    </div>
                    </div>
                {% endfor %}
                -->
                
            {% if user_is_mobile %}
            {% if bodypart == bodyparts.0 %}
                <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Bwycine</div></div>
                <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Dentine</div></div>
                <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Elphine</div></div>
            </div>
            <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;" title="Tap each nucleotide to change!">
                <div>
                    <button data-role="none" class='section1_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_1_{{bodypart}}">U</button>
                    <button data-role='none' class='section1_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_2_{{bodypart}}">U</button>
                    <button data-role='none' class='section1_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_3_{{bodypart}}">U</button>
                </div>
                <div>
                    <button data-role='none' class='section2_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_4_{{bodypart}}">U</button>
                    <button data-role='none' class='section2_codon' style="width: 31px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_5_{{bodypart}}">U</button>
                    <button data-role='none' class='section2_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_6_{{bodypart}}">U</button>
                </div>
                <div>
                    <button data-role='none' class='section3_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_7_{{bodypart}}">U</button>
                    <button data-role='none' class='section3_codon' style="width: 31px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_8_{{bodypart}}">U</button>
                    <button data-role='none' class='section3_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_9_{{bodypart}}">U</button>
                </div>
            </div>
            {% else %}{% if bodypart == bodyparts.1 %}
                <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Jorganine</div></div>
                <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Kruzosine</div></div>
                <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Lonkidine</div></div>
            </div>
            <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                <div>
                    <button data-role="none" class='section1_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_1_{{bodypart}}">U</button>
                    <button data-role='none' class='section1_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_2_{{bodypart}}">U</button>
                    <button data-role='none' class='section1_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_3_{{bodypart}}">U</button>
                </div>
                <div>
                    <button data-role='none' class='section2_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_4_{{bodypart}}">U</button>
                    <button data-role='none' class='section2_codon' style="width: 31px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_5_{{bodypart}}">U</button>
                    <button data-role='none' class='section2_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_6_{{bodypart}}">U</button>
                </div>
                <div>
                    <button data-role='none' class='section3_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_7_{{bodypart}}">U</button>
                    <button data-role='none' class='section3_codon' style="width: 31px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_8_{{bodypart}}">U</button>
                    <button data-role='none' class='section3_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_9_{{bodypart}}">U</button>
                </div>
            </div>
            {% else %}{% if bodypart == bodyparts.2 %}
                <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Mewsamine</div></div>
                <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Niffagine</div></div>
                <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Orzine</div></div>
            </div>
            <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                <div>
                    <button data-role="none" class='section1_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_1_{{bodypart}}">U</button>
                    <button data-role='none' class='section1_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_2_{{bodypart}}">U</button>
                    <button data-role='none' class='section1_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_3_{{bodypart}}">U</button>
                </div>
                <div>
                    <button data-role='none' class='section2_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_4_{{bodypart}}">U</button>
                    <button data-role='none' class='section2_codon' style="width: 31px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_5_{{bodypart}}">U</button>
                    <button data-role='none' class='section2_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_6_{{bodypart}}">U</button>
                </div>
                <div>
                    <button data-role='none' class='section3_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_7_{{bodypart}}">U</button>
                    <button data-role='none' class='section3_codon' style="width: 31px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_8_{{bodypart}}">U</button>
                    <button data-role='none' class='section3_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_9_{{bodypart}}">U</button>
                </div>
            </div>
            {% else %}{% if bodypart == bodyparts.3 %}
                <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Elpine</div></div>
                <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Higgonine</div></div>
                <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Ixanine</div></div>
            </div>
            
            <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                <div>
                    <button data-role="none" class='section1_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_1_{{bodypart}}">U</button>
                    <button data-role='none' class='section1_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_2_{{bodypart}}">U</button>
                    <button data-role='none' class='section1_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_3_{{bodypart}}">U</button>
                </div>
                <div>
                    <button data-role='none' class='section2_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_4_{{bodypart}}">U</button>
                    <button data-role='none' class='section2_codon' style="width: 31px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_5_{{bodypart}}">U</button>
                    <button data-role='none' class='section2_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_6_{{bodypart}}">U</button>
                </div>
                <div>
                    <button data-role='none' class='section3_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_7_{{bodypart}}">U</button>
                    <button data-role='none' class='section3_codon' style="width: 31px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_8_{{bodypart}}">U</button>
                    <button data-role='none' class='section3_codon' style="width: 32px; height: 35px; padding: 4px; font-size: 15px;float: left;" id ="codon_9_{{bodypart}}">U</button>
                </div>
            </div>
            {% endif %}{% endif %}{% endif %}{% endif %}
		    {% else %} <!--BROWSERVERSION-->
		    {% if bodypart == bodyparts.0 %}
                <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Bwycine</div></div>
                <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Dentine</div></div>
                <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Elphine</div></div>
            </div>
            
            <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                <div class="ui-block-a" id="amino_1_{{bodypart}}" style="cell-spacing: 0; margin: 0; cell-padding: 0;padding: 0;">
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_1_{{bodypart}}">U</a>
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_2_{{bodypart}}">U</a>
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_3_{{bodypart}}">U</a>
                </div>
                <div id="amino_2_{{bodypart}}" class="ui-block-b">
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_4_{{bodypart}}">C</a>
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_5_{{bodypart}}">U</a>
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_6_{{bodypart}}">A</a>
                </div>
                <div id="amino_3_{{bodypart}}" class="ui-block-c">
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_7_{{bodypart}}">A</a>
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_8_{{bodypart}}">U</a>
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_9_{{bodypart}}">U</a>
                </div>
            </div>
            {% else %}{% if bodypart == bodyparts.1 %}
                <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Jorganine</div></div>
                <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Kruzosine</div></div>
                <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Lonkidine</div></div>
            </div>

            <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                <div class="ui-block-a" id="amino_1_{{bodypart}}" style="cell-spacing: 0; margin: 0; cell-padding: 0;padding: 0;">
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_1_{{bodypart}}">A</a>
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_2_{{bodypart}}">C</a>
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_3_{{bodypart}}">U</a>
                </div>
                <div id="amino_2_{{bodypart}}" class="ui-block-b">
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_4_{{bodypart}}">G</a>
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_5_{{bodypart}}">C</a>
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_6_{{bodypart}}">U</a>
                </div>
                <div id="amino_3_{{bodypart}}" class="ui-block-c">
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_7_{{bodypart}}">G</a>
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_8_{{bodypart}}">C</a>
                    <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_9_{{bodypart}}">A</a>
                </div>
            </div>
                {% else %}{% if bodypart == bodyparts.2 %}
                    <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Mewsamine</div></div>
                    <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Niffagine</div></div>
                    <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Orzine</div></div>
                </div>
                <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                    <div class="ui-block-a" id="amino_1_{{bodypart}}" style="cell-spacing: 0; margin: 0; cell-padding: 0;padding: 0;">
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_1_{{bodypart}}">C</a>
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_2_{{bodypart}}">A</a>
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_3_{{bodypart}}">U</a>
                    </div>
                    <div id="amino_2_{{bodypart}}" class="ui-block-b">
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_4_{{bodypart}}">C</a>
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_5_{{bodypart}}">A</a>
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_6_{{bodypart}}">A</a>
                    </div>
                    <div id="amino_3_{{bodypart}}" class="ui-block-c">
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_7_{{bodypart}}">A</a>
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_8_{{bodypart}}">A</a>
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_9_{{bodypart}}">U</a>
                    </div>
                </div>
                {% else %}{% if bodypart == bodyparts.3 %}
                    <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Elpine</div></div>
                    <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Higgonine</div></div>
                    <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Ixanine</div></div>
                </div>
                <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                    <div class="ui-block-a" id="amino_1_{{bodypart}}" style="cell-spacing: 0; margin: 0; cell-padding: 0;padding: 0;">
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_1_{{bodypart}}">A</a>
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_2_{{bodypart}}">U</a>
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_3_{{bodypart}}">U</a>
                    </div>
                    <div id="amino_2_{{bodypart}}" class="ui-block-b">
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_4_{{bodypart}}">U</a>
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_5_{{bodypart}}">C</a>
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_6_{{bodypart}}">U</a>
                    </div>
                    <div id="amino_3_{{bodypart}}" class="ui-block-c">
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_7_{{bodypart}}">C</a>
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_8_{{bodypart}}">C</a>
                        <a class="ui-btn ui-btn-up-b ui-shadow" style="width: 20%; height: 25px; padding: 0; float: left; font-size: 18px; position: relative;" id ="codon_9_{{bodypart}}">U</a>
                    </div>
                </div>
            {% endif %}{% endif %}{% endif %}{% endif %}
		    {% endif %}
                    
                <!--
                <div id="amino_sequences_{{bodypart}}">
                {% if bodypart == bodyparts.0 %}
                    <div class="ui-block-a" id="amino_1_{{bodypart}}" style="text-align:center"><h1>UUU</h1></div>
                    <div class="ui-block-b" id="amino_2_{{bodypart}}" style="text-align:center"><h1>CUA</h1></div>
                    <div class="ui-block-c" id="amino_3_{{bodypart}}" style="text-align:center"><h1>AUU</h1></div>
                {% else %}{% if bodypart == bodyparts.1 %}
                    <div class="ui-block-a" id="amino_1_{{bodypart}}" style="text-align:center"><h1>ACU</h1></div>
                    <div class="ui-block-b" id="amino_2_{{bodypart}}" style="text-align:center"><h1>GCU</h1></div>
                    <div class="ui-block-c" id="amino_3_{{bodypart}}" style="text-align:center"><h1>GCA</h1></div>
                {% else %}{% if bodypart == bodyparts.2 %}
                    <div class="ui-block-a" id="amino_1_{{bodypart}}" style="text-align:center"><h1>CAU</h1></div>
                    <div class="ui-block-b" id="amino_2_{{bodypart}}" style="text-align:center"><h1>CAA</h1></div>
                    <div class="ui-block-c" id="amino_3_{{bodypart}}" style="text-align:center"><h1>AAU</h1></div>
                {% else %}{% if bodypart == bodyparts.3 %}
                    <div class="ui-block-a" id="amino_1_{{bodypart}}" style="text-align:center"><h1>AUU</h1></div>
                    <div class="ui-block-b" id="amino_2_{{bodypart}}" style="text-align:center"><h1>UCU</h1></div>
                    <div class="ui-block-c" id="amino_3_{{bodypart}}" style="text-align:center"><h1>CCU</h1></div>
                {% endif %}{% endif %}{% endif %}{% endif %}
                -->
                
            </div>
		</div><!--/{{bodypart}}-->
    {% endfor %}


	</div><!-- /content -->

	
	<div data-role="footer">
	</div><!-- /footer -->
</div><!--/lab-->

<style>.ui-dialog  .ui-header .ui-btn-icon-notext	{ display:none;} </style>
<div data-role="page" id="fight_confirm" data-add-back-btn="true"> <!--FIGHT-CONFIRMATION-->
	<div data-role='header'>
        <div style="margin-left:80px;margin-right:80px;text-align:center">Ready to Fight?</div>
        <div style="text-align: right">
            <form id="fight_form" action="/beasties/fight/" method="post">
            {% csrf_token %}
            <input type="hidden" name="enemy_id" value="{{enemy.id}}">
            <input type="hidden" id="fight_hands" name="fight_hands" value="Normal Hands">
            <input type="hidden" id="fight_horns" name="fight_horns" value="Normal Horns">
            <input type="hidden" id="fight_mouth" name="fight_mouth" value="Normal Mouth">
            <input type="hidden" id="fight_tail" name="fight_tail" value="Normal Tail">
            <input type="submit" value="Fight" class="ui-btn-right" data-theme="a" data-inline="true">
            </form>
        </div>
	</div>

	<div data-role='content'>
		<div class='ui-grid-a' style="text-align: center;">
			<div class='ui-block-a'>
				<h2>You</h2>
				<table align="center">
				<tr>
				<td><img id="confirm_hands" src='' /><h4 id="confirm_hands_text"></h4></td>
				<td><img id="confirm_horns" src='' /><h4 id="confirm_horns_text"></h4></td>
				</tr>
				<tr>
				<td><img id="confirm_mouth" src='' /><h4 id="confirm_mouth_text"></h4></td>
				<td><img id="confirm_tail" src='' /><h4 id="confirm_tail_text"></h4></td>
				</tr>
				</table>
			</div>

			<div class='ui-block-b'>
				<h2>{{enemy.name}}</h2>
				<img src="{{enemy.image_filename}}" />
				<h4>
                Weakness:
                {% for weakness, count in weakness_count.items %}
                    {{weakness}} x{{count}}
                {% endfor %}
                </h4>
			</div>
		</div>
		
	</div>
</div><!--/fight-confirmation-->


<div data-role="page"  id="genetic_code">
	<div data-role="header" data-position="fixed">
		<table width=100%>
		<tr>
            <td width=50px>
                <a href="#phenotypes" data-role="button" data-rel="back" data-theme='b' data-inline="true" data-icon="back">
                Handbook
                </a>
            </td>
            <td>
                <span style="font-size: xx-large; font-weight: bold;text-align: left;">
                    Monster Universal Genetic Code
                </span>
            </td>
            <td>
                <span style="text-align: right;">
                    <span style="font-weight: bold;">
                    <img align='left' src='' id='selected_image' width=40px height=40px />
                    {% if user_is_mobile %}
                    <span style="font-size: 20px;" id="selected_phenotype">
                    {% else %}
                    <span style="font-size: 24px;" id="selected_phenotype">
                    {% endif %}
                    </span>
                    <br />
                    <span style="color: #FF6666;" id="selected_amino_1">-</span>-<span style="color: #FFFF66;" id="selected_amino_2"></span>-<span style="color: #99CCFF;" id="selected_amino_3"></span>
                    </span>
                </span>
            </td>
            <td>
                <a href="#lab" data-role="button" data-transition='slideup' data-theme='b' data-inline="true">
                Back to Lab
                </a>
            </td>
		</tr>
		</table>	
	</div>
	
	<div data-role="content">
		<table width="100%" align=center style="background: white;text-align: center;">
		<tr style="font-size: 20px; font-weight: bold;">
		<td width=5%></td>
		<td colspan=2 class="border-all">U</td>
		<td colspan=2 class="border-all">C</td>
		<td colspan=2 class="border-all">A</td>
		<td colspan=2 class="border-all">G</td>
		<td colspan=2 width=5%></td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td width=5% rowspan=4 class="border-all" style="font-size: 20px;">U</td>
		<td class="codon_cell Bwy">UUU</td>
		<td class="amino_cell Bwy">Bwy</td>
		<td class="codon_cell Hig">UCU</td>
		<td class="amino_cell Hig">Hig</td>
		<td class="codon_cell Lon">UAU</td>
		<td class="amino_cell Lon">Lon</td>
		<td class="codon_cell Sly">UGU</td>
		<td class="amino_cell Sly">Sly</td>
		<td width=5% class="border-all">U</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td class="codon_cell Bwy">UUC</td>
		<td class="amino_cell Bwy">Bwy</td>
		<td class="codon_cell Hig">UCC</td>
		<td class="amino_cell Hig">Hig</td>
		<td class="codon_cell Lon">UAC</td>
		<td class="amino_cell Lon">Lon</td>
		<td class="codon_cell Sly">UGC</td>
		<td class="amino_cell Sly">Sly</td>
		<td width=5% class="border-all">C</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td class="codon_cell Bwy">UUA</td>
		<td class="amino_cell Bwy">Bwy</td>
		<td class="codon_cell Hig">UCA</td>
		<td class="amino_cell Hig">Hig</td>
		<td class="codon_cell Lon">UAA</td>
		<td class="amino_cell Lon">Lon</td>
		<td class="codon_cell Tor">UGA</td>
		<td class="amino_cell Tor">Tor</td>
		<td width=5% class="border-all">A</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td class="codon_cell Bwy" style="border-bottom: 2px solid black;">UUG</td>
		<td class="amino_cell Bwy" style="border-bottom: 2px solid black;">Bwy</td>
		<td class="codon_cell Hig" style="border-bottom: 2px solid black;">UCG</td>
		<td class="amino_cell Hig" style="border-bottom: 2px solid black;">Hig</td>
		<td class="codon_cell Lon" style="border-bottom: 2px solid black;">UAG</td>
		<td class="amino_cell Lon" style="border-bottom: 2px solid black;">Lon</td>
		<td class="codon_cell Tor" style="border-bottom: 2px solid black;">UGG</td>
		<td class="amino_cell Tor" style="border-bottom: 2px solid black;">Tor</td>
		<td width=5% class="border-all">G</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td width=5% rowspan=4 class="border-all" style="font-size: 20px;">C</td>
		<td class="codon_cell Bwy">CUU</td>
		<td class="amino_cell Bwy">Bwy</td>
		<td class="codon_cell Ixa">CCU</td>
		<td class="amino_cell Ixa">Ixa</td>
		<td class="codon_cell Mew">CAU</td>
		<td class="amino_cell Mew">Mew</td>
		<td class="codon_cell Vla">CGU</td>
		<td class="amino_cell Vla">Vla</td>
		<td width=5% class="border-all">U</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td class="codon_cell Bwy">CUC</td>
		<td class="amino_cell Bwy">Bwy</td>
		<td class="codon_cell Ixa">CCC</td>
		<td class="amino_cell Ixa">Ixa</td>
		<td class="codon_cell Mew">CAC</td>
		<td class="amino_cell Mew">Mew</td>
		<td class="codon_cell Vla">CGC</td>
		<td class="amino_cell Vla">Vla</td>
		<td width=5% class="border-all">C</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td class="codon_cell Den">CUA</td>
		<td class="amino_cell Den">Den</td>
		<td class="codon_cell Ixa">CCA</td>
		<td class="amino_cell Ixa">Ixa</td>
		<td class="codon_cell Nif">CAA</td>
		<td class="amino_cell Nif">Nif</td>
		<td class="codon_cell Wor">CGA</td>
		<td class="amino_cell Wor">Wor</td>
		<td width=5% class="border-all">A</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td class="codon_cell Den" style="border-bottom: 2px solid black;">CUG</td>
		<td class="amino_cell Den" style="border-bottom: 2px solid black;">Den</td>
		<td class="codon_cell Ixa" style="border-bottom: 2px solid black;">CCG</td>
		<td class="amino_cell Ixa" style="border-bottom: 2px solid black;">Ixa</td>
		<td class="codon_cell Nif" style="border-bottom: 2px solid black;">CAG</td>
		<td class="amino_cell Nif" style="border-bottom: 2px solid black;">Nif</td>
		<td class="codon_cell Wor" style="border-bottom: 2px solid black;">CGG</td>
		<td class="amino_cell Wor" style="border-bottom: 2px solid black;">Wor</td>
		<td width=5% class="border-all">G</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td width=5% rowspan=4 class="border-all" style="font-size: 20px;">A</td>
		<td class="codon_cell Elp">AUU</td>
		<td class="amino_cell Elp">Elp</td>
		<td class="codon_cell Jor">ACU</td>
		<td class="amino_cell Jor">Jor</td>
		<td class="codon_cell Orz">AAU</td>
		<td class="amino_cell Orz">Orz</td>
		<td class="codon_cell Wor">AGU</td>
		<td class="amino_cell Wor">Wor</td>
		<td width=5% class="border-all">U</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td class="codon_cell Elp">AUC</td>
		<td class="amino_cell Elp">Elp</td>
		<td class="codon_cell Jor">ACC</td>
		<td class="amino_cell Jor">Jor</td>
		<td class="codon_cell Orz">AAC</td>
		<td class="amino_cell Orz">Orz</td>
		<td class="codon_cell Wor">AGC</td>
		<td class="amino_cell Wor">Wor</td>
		<td width=5% class="border-all">C</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td class="codon_cell Elp">AUA</td>
		<td class="amino_cell Elp">Elp</td>
		<td class="codon_cell Jor">ACA</td>
		<td class="amino_cell Jor">Jor</td>
		<td class="codon_cell Pef">AAA</td>
		<td class="amino_cell Pef">Pef</td>
		<td class="codon_cell Yaf">AGA</td>
		<td class="amino_cell Yaf">Yaf</td>
		<td width=5% class="border-all">A</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td class="codon_cell Elp" style="border-bottom: 2px solid black;">AUG</td>
		<td class="amino_cell Elp" style="border-bottom: 2px solid black;">Elp</td>
		<td class="codon_cell Jor" style="border-bottom: 2px solid black;">ACG</td>
		<td class="amino_cell Jor" style="border-bottom: 2px solid black;">Jor</td>
		<td class="codon_cell Pef" style="border-bottom: 2px solid black;">AAG</td>
		<td class="amino_cell Pef" style="border-bottom: 2px solid black;">Pef</td>
		<td class="codon_cell Yaf" style="border-bottom: 2px solid black;">AGG</td>
		<td class="amino_cell Yaf" style="border-bottom: 2px solid black;">Yaf</td>
		<td width=5% class="border-all">G</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td width=5% rowspan=4 class="border-all" style="font-size: 20px;">G</td>
		<td class="codon_cell Elp">GUU</td>
		<td class="amino_cell Elp">Elp</td>
		<td class="codon_cell Kru">GCU</td>
		<td class="amino_cell Kru">Kru</td>
		<td class="codon_cell Qua">GAU</td>
		<td class="amino_cell Qua">Qua</td>
		<td class="codon_cell Yaf">GGU</td>
		<td class="amino_cell Yaf">Yaf</td>
		<td width=5% class="border-all">U</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td class="codon_cell Elp">GUC</td>
		<td class="amino_cell Elp">Elp</td>
		<td class="codon_cell Kru">GCC</td>
		<td class="amino_cell Kru">Kru</td>
		<td class="codon_cell Qua">GAC</td>
		<td class="amino_cell Qua">Qua</td>
		<td class="codon_cell Yaf">GGC</td>
		<td class="amino_cell Yaf">Yaf</td>
		<td width=5% class="border-all">C</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td class="codon_cell Elp">GUA</td>
		<td class="amino_cell Elp">Elp</td>
		<td class="codon_cell Lon">GCA</td>
		<td class="amino_cell Lon">Lon</td>
		<td class="codon_cell Raj">GAA</td>
		<td class="amino_cell Raj">Raj</td>
		<td class="codon_cell Zun">GGA</td>
		<td class="amino_cell Zun">Zun</td>
		<td width=5% class="border-all">A</td>
		</tr>

		{%if user_is_mobile %}
            <tr style="font-size: 10px;">
        {% else %}
            <tr>
        {% endif %}
		<td class="codon_cell Elp" style="border-bottom: 2px solid black;">GUG</td>
		<td class="amino_cell Elp" style="border-bottom: 2px solid black;">Elp</td>
		<td class="codon_cell Lon" style="border-bottom: 2px solid black;">GCG</td>
		<td class="amino_cell Lon" style="border-bottom: 2px solid black;">Lon</td>
		<td class="codon_cell Raj" style="border-bottom: 2px solid black;">GAG</td>
		<td class="amino_cell Raj" style="border-bottom: 2px solid black;">Raj</td>
		<td class="codon_cell Zun" style="border-bottom: 2px solid black;">GGG</td>
		<td class="amino_cell Zun" style="border-bottom: 2px solid black;">Zun</td>
		<td width=5% class="border-all">G</td>
		</tr>
		</table>

		<!--<img src='genetic_code.jpg' />-->
	</div>
</div>

<div data-role="page" id="phenotypes" >

	<div data-role="header">
    <span style="font-size: xx-large; font-weight: bold;text-align: left;">
        Known Monster Phenotypes
        <a href="#lab" data-role="button" data-icon="arrow-u" data-transition="slideup" data-theme='b' data-inline="true">
        Back to Lab
        </a>
    </span>
	</div><!-- /header -->

	<div data-role="content" data-theme="d">	
		<ul data-role="listview" data-filter="true" data-filter-placeholder="Search for phenotype...">
            {% for bodypart in bodyparts %}
                <li data-role="list-divider">
                    <font style="text-transform: uppercase;">{{bodypart}}</font> 
                </li>
                {% for phenotype in phenotypes %}
                    {% if phenotype.bodypart == bodypart and not "Normal" in phenotype.name %}
                        <li>
                            <a href="#genetic_code" data-transition="slide" class="pheno_list_item" data-phenotype="{{phenotype.name}}" data-aminoacids="{{phenotype.amino_acid_name_1.symbol}}-{{phenotype.amino_acid_name_2.symbol}}-{{phenotype.amino_acid_name_3.symbol}}">
                            <img src="{{phenotype.image_filename}}" height="80px" width="80px"/>
                            <h2>{{ phenotype.name }}</h2>
                            <!--<p><b>Amino Acid Sequence:</b> {{phenotype.amino_acid_name_1}} {{phenotype.amino_acid_name_2}} {{phenotype.amino_acid_name_3}}</p>-->
                            <p style="font-size:18px">{{phenotype.amino_acid_name_1.symbol}} {{phenotype.amino_acid_name_2.symbol}} {{phenotype.amino_acid_name_3.symbol}}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}            
            {% endfor %}
        </ul>
	</div><!-- /content -->
    
	<div data-role="footer">
	</div><!-- /footer -->
</div>

<script>

    var amino_sequences = {}
    var genetic_code = {}
    {% for amino_acid in amino_acids %}
    amino_sequences["{{amino_acid.name.name}}"] = "{{amino_acid.nucleotide_1.symbol}}{{amino_acid.nucleotide_2.symbol}}{{amino_acid.nucleotide_3.symbol}}"
    genetic_code["{{amino_acid.nucleotide_1.symbol}}{{amino_acid.nucleotide_2.symbol}}{{amino_acid.nucleotide_3.symbol}}"] = "{{amino_acid.name.name}}"
    {% endfor %}

    var amino_abbreviations = {};
    {% for amino_acid in amino_acids %}
    amino_abbreviations["{{amino_acid.name.name}}"] = "{{amino_acid.name.symbol}}"
    {% endfor %}
    
    var pheno_seq = {}
    {% for phenotype in phenotypes %}
    pheno_seq["{{phenotype.name}}"] = "{{phenotype.amino_acid_name_1.symbol}}{{phenotype.amino_acid_name_2.symbol}}{{phenotype.amino_acid_name_3.symbol}}"
    {% endfor %}

    //var pheno_pics = {"Mirror Palms": "/static/images/phenotypes/reflect-hands.jpg", "Poblano Pepper Fists": "/static/images/phenotypes/spicy-hands.jpg", "Cyclone Fists": "/static/images/phenotypes/wind-hands.jpg", "Razor Claws": "/static/images/phenotypes/sharp-hands.jpg", "Thunder Clap": "/static/images/phenotypes/elec-hands.jpg", "Fiery Fists": "/static/images/phenotypes/fire-hands.jpg", "Shocking Palms": "/static/images/phenotypes/noisy-hands.jpg", "Frozen Fists": "/static/images/phenotypes/cold-hands.jpg", "Sweaty Palms": "/static/images/phenotypes/water-hands.jpg", "Normal Hands": "/static/images/phenotypes/normal-hands.jpg", "Normal Horns": "/static/images/phenotypes/normal-horns.jpg", "Normal Mouth": "/static/images/phenotypes/normal-mouth.jpg", "Normal Tail": "/static/images/phenotypes/normal-tail.jpg"};
    var pheno_pics = {}
    {% for phenotype in phenotypes %}
    pheno_pics["{{phenotype.name}}"] = "{{phenotype.image_filename}}"
    {% endfor %}

    var current_phenotype = "hands";

    var codon_dict = new Array();
    codon_dict[0] = "U";
    codon_dict[1] = "C";
    codon_dict[2] = "A";
    codon_dict[3] = "G";
    codon_dict["U"] = 0;
    codon_dict["C"] = 1;
    codon_dict["A"] = 2;
    codon_dict["G"] = 3;

    

$('#lab').live('pageinit',function(event){
	
	// Bind the pictures to the showing animation
	$("#pheno_img_hands").bind('click', function(){imageOnClick("#pheno_img_hands")});
	$("#pheno_img_horns").bind('click', function(){imageOnClick("#pheno_img_horns")});
	$("#pheno_img_mouth").bind('click', function(){imageOnClick("#pheno_img_mouth")});
	$("#pheno_img_tail").bind('click', function(){imageOnClick("#pheno_img_tail")});

	// Bind Hand Codons to CodonClick
	$('#amino_sequences_hands .ui-btn-text').css({margin: 0, padding: 0, left: '0%'});
	$('#codon_1_hands').bind('click', function() {CodonClick('#codon_1_hands')});
	$('#codon_2_hands').click(function() {CodonClick('#codon_2_hands')});
	$('#codon_3_hands').click(function() {CodonClick('#codon_3_hands')});
	$('#codon_4_hands').click(function() {CodonClick('#codon_4_hands')});
	$('#codon_5_hands').click(function() {CodonClick('#codon_5_hands')});
	$('#codon_6_hands').click(function() {CodonClick('#codon_6_hands')});
	$('#codon_7_hands').click(function() {CodonClick('#codon_7_hands')});
	$('#codon_8_hands').click(function() {CodonClick('#codon_8_hands')});
	$('#codon_9_hands').click(function() {CodonClick('#codon_9_hands')});

	// Bind Horn Codons to CodonClick
	$('#amino_sequences_horns .ui-btn-text').css({margin: 0, padding: 0, left: '0%'});
	$('#codon_1_horns').bind('click', function() {CodonClick('#codon_1_horns')});
	$('#codon_2_horns').click(function() {CodonClick('#codon_2_horns')});
	$('#codon_3_horns').click(function() {CodonClick('#codon_3_horns')});
	$('#codon_4_horns').click(function() {CodonClick('#codon_4_horns')});
	$('#codon_5_horns').click(function() {CodonClick('#codon_5_horns')});
	$('#codon_6_horns').click(function() {CodonClick('#codon_6_horns')});
	$('#codon_7_horns').click(function() {CodonClick('#codon_7_horns')});
	$('#codon_8_horns').click(function() {CodonClick('#codon_8_horns')});
	$('#codon_9_horns').click(function() {CodonClick('#codon_9_horns')});

	// Bind Mouth Codons to CodonClick
	$('#amino_sequences_mouth .ui-btn-text').css({margin: 0, padding: 0, left: '0%'});
	$('#codon_1_mouth').bind('click', function() {CodonClick('#codon_1_mouth')});
	$('#codon_2_mouth').click(function() {CodonClick('#codon_2_mouth')});
	$('#codon_3_mouth').click(function() {CodonClick('#codon_3_mouth')});
	$('#codon_4_mouth').click(function() {CodonClick('#codon_4_mouth')});
	$('#codon_5_mouth').click(function() {CodonClick('#codon_5_mouth')});
	$('#codon_6_mouth').click(function() {CodonClick('#codon_6_mouth')});
	$('#codon_7_mouth').click(function() {CodonClick('#codon_7_mouth')});
	$('#codon_8_mouth').click(function() {CodonClick('#codon_8_mouth')});
	$('#codon_9_mouth').click(function() {CodonClick('#codon_9_mouth')});

	// Bind Tail Codons to CodonClick
	$('#amino_sequences_tail .ui-btn-text').css({margin: 0, padding: 0, left: '0%'});
	$('#codon_1_tail').bind('click', function() {CodonClick('#codon_1_tail')});
	$('#codon_2_tail').click(function() {CodonClick('#codon_2_tail')});
	$('#codon_3_tail').click(function() {CodonClick('#codon_3_tail')});
	$('#codon_4_tail').click(function() {CodonClick('#codon_4_tail')});
	$('#codon_5_tail').click(function() {CodonClick('#codon_5_tail')});
	$('#codon_6_tail').click(function() {CodonClick('#codon_6_tail')});
	$('#codon_7_tail').click(function() {CodonClick('#codon_7_tail')});
	$('#codon_8_tail').click(function() {CodonClick('#codon_8_tail')});
	$('#codon_9_tail').click(function() {CodonClick('#codon_9_tail')});

	//bind fight button to FightClick
	$('#fight_button').click(FightClick);

	$('#dialog_close').click(function() {$('#fight_confirm').dialog('close');});

	$(function() {		
		
	// initialize scrollable
	$(".scrollable").scrollable({ vertical: true, circular: true});	
	
	});
    
    $(".pheno_list_item").click(PhenoListItemClick);
})

$(window).load(function(event){
/*TODO Initial Codons, instead of nucleotides*/
    
    {% for locked_nuc in locked_nucs %}
        var codon = $('#codon_{{locked_nuc.absolute_position}}_{{locked_nuc.bodypart.name}}')
        //Set the text
        $(codon).text('{{locked_nuc.symbol.symbol}}');
        //Adjust codon
        AdjustCodon(codon);
        //Set class to locked
        $(codon).removeClass('ui-btn-up-b');
        $(codon).addClass('locked');
    {% empty %}
    //Nothing locked
    {% endfor %}
    
    
    //Only display hand options
    $("#lab_horns").hide();
	$("#lab_mouth").hide();
	$("#lab_tail").hide()
    

});

function FightClick() {
	$('#confirm_hands').attr('src', $('#pheno_img_hands').attr('src'));
	$('#confirm_horns').attr('src', $('#pheno_img_horns').attr('src'));
	$('#confirm_mouth').attr('src', $('#pheno_img_mouth').attr('src'));
	$('#confirm_tail').attr('src', $('#pheno_img_tail').attr('src'));

	for (var i in pheno_pics){
		if (pheno_pics[i] == $('#pheno_img_hands').attr('src')) {
			$('#confirm_hands_text').text(i);
		}
	}
	for (var i in pheno_pics){
		if (pheno_pics[i] == $('#pheno_img_horns').attr('src')) {
			$('#confirm_horns_text').text(i);
		}
	}
	for (var i in pheno_pics){
		if (pheno_pics[i] == $('#pheno_img_mouth').attr('src')) {
			$('#confirm_mouth_text').text(i);
		}
	}
	for (var i in pheno_pics){
		if (pheno_pics[i] == $('#pheno_img_tail').attr('src')) {
			$('#confirm_tail_text').text(i);
		}
	}
}


function amino_select_mouseover(event, select_id, type){
	//amino_acid_seq = this.selectedIndex;
	console.log("SCROLL!");
	// Grab the underlying api for scrollable and grab index of current item
	var scroll = "#" + select_id;
	var api = $(scroll).data("scrollable")
	var index = api.getIndex();
	// The amino acid is the text of the current item
	var amino_acid = api.getItems()[index].childNodes[1].childNodes[0].nodeValue;//options[amino_acid_seq];
	console.log(amino_acid);
	// Set the sequence for the amino acid
	var sequence = amino_sequences[amino_acid];
	// Find the scrollable we are on, set the text below it to the sequence, and call sync function
	var amino_id = select_id
	if (amino_id == 'amino_select_1_' + current_phenotype) {
		$("#amino_1_" + current_phenotype +' >h1').text(sequence);
		sync(current_phenotype);
	}
	else if (amino_id == 'amino_select_2_' + current_phenotype) {
		$('#amino_2_' + current_phenotype + ' >h1').text(sequence);
		sync(current_phenotype);
	}
	else if (amino_id == 'amino_select_3_' + current_phenotype) {
		$('#amino_3_'+current_phenotype+ ' >h1').text(sequence);
		sync(current_phenotype);
	}
	//$('amino_' + amino_id > h1)
}

function sync(body_part) {
	// Boolean to determine whether or not a phenotype pic was found
	var changeBool = false;
	// All of the aminoacid sequences together
	var text = $('#amino_sequences_' + current_phenotype).text().replace(/\s+/gm,'');
	// Splice the text string into the separate ones, each representing the amino acid sequence
	var seq_1 = text.substring(0,3);
	var seq_2 = text.substring(3,6);
	var seq_3 = text.substring(6,9);
	var phenotype_seq = "";
	// If each sequence matches one of our amino_acids, add the abbreviation of the amino_acid to the phenotype_seq
	for (var i in genetic_code) {
	if (i == seq_1)
	    phenotype_seq += (genetic_code[i].substring(0,3));
	}
	for (var i in genetic_code) {
        if (i == seq_2)
             phenotype_seq += (genetic_code[i].substring(0,3));
	}
	for (var i in genetic_code) {
        if (i == seq_3)
             phenotype_seq += (genetic_code[i].substring(0,3));
	}
	console.log(phenotype_seq);
	for (var i in pheno_pics) {
		//If the sequence matches a phenotype sequence that we have in a dictionary
		if (pheno_seq[i] == phenotype_seq){
			// Change and update the pic and text, ONLY if we are in the right body part
			var regexp = new RegExp(current_phenotype);
			// we check to see if we are in the right body part by looking at image filename (each one contains either "hands," "horns," etc.)
			if (regexp.test(pheno_pics[i]) != false) {
				UpdatePic(pheno_pics[i],i,body_part);
				// If we update pic, we have found a phenotype pic, so set bool to true
				changeBool = true;
			}
		}
	}
	// If we did not find a phenotype pic, we have to change picture to a normal one
	if (changeBool == false) {
		//Find the normal phenotype associated with the body part we are on
		var pattern = new RegExp("Normal " + current_phenotype.charAt(0).toUpperCase() + current_phenotype.substring(1));
		console.log(pattern.source);
		// Once we find it, call update pic with the normal one
		for (var i in pheno_pics) {
			if (pattern.test(i) == true)
				UpdatePic(pheno_pics[i], i, body_part);
		}
	}
	
}

function UpdatePic(phenotype, descr,body_part){
	// depending on the body part, change the image src to the new phenotype, and set the text underneath to the new descr.
	if (body_part == 'hands') {
		$('#pheno_img_hands').attr('src', phenotype);
		console.log($('#current_Hands > img').attr('src'));
		$('#pheno_text_hands').text(descr);
	}
	else if (body_part == 'horns') {
		$('#pheno_img_horns').attr('src', phenotype);
		$('#pheno_text_horns').text(descr);
	}
	else if (body_part == 'mouth') {
		$('#pheno_img_mouth').attr('src', phenotype);
		$('#pheno_text_mouth').text(descr);
	}
	else if (body_part == 'tail') {
		$('#pheno_img_tail').attr('src', phenotype);
		$('#pheno_text_tail').text(descr);
	}
    $('#fight_'+body_part).val(descr);
}

// clicked is the new body part image_id
function imageOnClick(clicked) {
	// Current body part image id
	var img_id = "#pheno_img_" + current_phenotype;
	// Current body part text
	var current_text = "#pheno_text_" + current_phenotype;
	// Current body part div id
	var current_div = "#lab_" + current_phenotype;
	// new body part text
	var new_text = "#pheno_text_" + clicked.substr(11);
	// new body part div id
	var show_div = "#lab_" + clicked.substr(11);
	console.log(current_div);
	// Hide and show the new div
	$(current_div).hide();
	$(show_div).show();
	//Hide the current text
	$(current_text).text('');
	console.log(img_id);
	// Let the current image id shrink
	$(img_id).animate({
	width: '50',
	height: '50',
	opacity: 1,	
	}, {duration: 1000, queue: false});

	// Grow the new image id
	$(clicked).animate({
	width: '100',
	height: '100',
	opacity: 1,	
	}, {duration: 1000, queue: false});

	// Set the new current_phenotype
	current_phenotype = clicked.substr(11);
	// Find the text of the new body part by looking up a matching image filename
	for (var i in pheno_pics){
		if (pheno_pics[i] == $(clicked).attr('src'))
			$(new_text).text(i)
	}		
}

function AdjustCodon(codon)
{
	short_sequence = $(codon).parent().text().replace(/\s+/gm,'');
	console.log(short_sequence);
	for (var i in genetic_code) {
		// if the sequence of 3 is in the dictionary
		if (i == short_sequence) {
			// Find the right text to update by using the number associated with codon id
			if (codon[7] <=3)
				$('#amino_select_1_' + current_phenotype).text(genetic_code[i]);
			else if (codon[7] <=6)
				$('#amino_select_2_' + current_phenotype).text(genetic_code[i]);
			else if (codon[7] <=9)
				$('#amino_select_3_' + current_phenotype).text(genetic_code[i]);
		}
	}
	sync(current_phenotype);
}

function CodonClick(codon) {
	if ($(codon).hasClass('locked') == true)
		return;
	console.log('CLICK');
	// Grab the letter on the button
	current_codon = $(codon).text()[0];
	console.log(current_codon);
	// find index in dictionary
	current_index = codon_dict.indexOf(current_codon);
	console.log(current_index);
	// shift to the next letter in the sequence
	if (current_index == 3)
		$(codon).text(codon_dict[0]);
	else {
		console.log('else');
		$(codon).text(codon_dict[current_index + 1]);
	}
    
    AdjustCodon(codon);
}

function PhenoListItemClick() {
	// Grab the phenotype name and corresponding sequence
    var pheno_name = $(this).data("phenotype");
    var aminoAcids = $(this).data("aminoacids");
	// split the sequence into the three amino acids
	var selected_amino1= aminoAcids.split("-")[0];
	var selected_amino2= aminoAcids.split("-")[1];
	var selected_amino3= aminoAcids.split("-")[2];

	// set the text on the genetic code screen
	$('#selected_phenotype').text(pheno_name);
	$('#selected_amino_1').text(selected_amino1);
	$('#selected_amino_2').text(selected_amino2);
	$('#selected_amino_3').text(selected_amino3);
	// color the backgrounds. Find the cells by class.
    //Set whole table to white
    for (var amino_acid in amino_abbreviations)
    {
        $('.' + amino_abbreviations[amino_acid]).css('background', '#FFFFFF');        
    }
    //Color select amino acids
	$('.' + selected_amino1).css('background', '#FF6666');
	$('.' + selected_amino2).css('background', '#FFFF66');
	$('.' + selected_amino3).css('background', '#99CCFF');
    $('#selected_image').attr('src', pheno_pics[pheno_name]);
}


</script>

</body>
</html>
