{% extends "beasties/lab.html" %}

{% block unique_scripts %}
    <script type="text/javascript" src="/static/javascript/level2.js"></script>
{% endblock %}
    
{% block unique_css %}
    {% if user_is_mobile %}
    <link rel="stylesheet" type="text/css" href="/static/css/mobile-style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/level2-mobile.css" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="/static/css/desktop-style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/level2-desktop.css" />
    {% endif %}
{% endblock %}	

{% block content_lab %}
    {% for bodypart in bodyparts %}
    <div id="lab_{{bodypart}}"><!-- {{bodypart}} -->  
        <div class="ui-grid-b">
            
		{% if bodypart == bodyparts.0 %}
			<div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" class="amino">Bwycine</div></div>
			<div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" class="amino">Dentine</div></div>
			<div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" class="amino">Elphine</div></div>

			<div id="amino_sequences_{{bodypart}}">
			<div class="ui-block-a" id="amino_1_{{bodypart}}">
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_1_{{bodypart}}">U</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_2_{{bodypart}}">U</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_3_{{bodypart}}">U</a>

			</div>
			<div id="amino_2_{{bodypart}}" class="ui-block-b">
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_4_{{bodypart}}">C</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_5_{{bodypart}}">U</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_6_{{bodypart}}">A</a>
			</div>
			<div id="amino_3_{{bodypart}}" class="ui-block-c">
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_7_{{bodypart}}">A</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_8_{{bodypart}}">U</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_9_{{bodypart}}">U</a>
			</div>
			</div>
		{% else %}{% if bodypart == bodyparts.1 %}
			<div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" class="amino">Jorganine</div></div>
			<div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" class="amino">Kruzosine</div></div>
			<div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" class="amino">Lonkidine</div></div>
		   
			<div id="amino_sequences_{{bodypart}}">
			<div class="ui-block-a" id="amino_1_{{bodypart}}">
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_1_{{bodypart}}">A</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_2_{{bodypart}}">C</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_3_{{bodypart}}">U</a>
			</div>
			<div id="amino_2_{{bodypart}}" class="ui-block-b">
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_4_{{bodypart}}">G</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_5_{{bodypart}}">C</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_6_{{bodypart}}">U</a>
			</div>
			<div id="amino_3_{{bodypart}}" class="ui-block-c">
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_7_{{bodypart}}">G</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_8_{{bodypart}}">C</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_9_{{bodypart}}">A</a>
			</div>
			</div>
		{% else %}{% if bodypart == bodyparts.2 %}
			<div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" class="amino">Mewsamine</div></div>
			<div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" class="amino">Niffagine</div></div>
			<div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" class="amino">Orzine</div></div>
			
			<div id="amino_sequences_{{bodypart}}">
			<div class="ui-block-a" id="amino_1_{{bodypart}}">
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_1_{{bodypart}}">C</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_2_{{bodypart}}">A</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_3_{{bodypart}}">U</a>
			</div>
			<div id="amino_2_{{bodypart}}" class="ui-block-b">
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_4_{{bodypart}}">C</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_5_{{bodypart}}">A</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_6_{{bodypart}}">A</a>
			</div>
			<div id="amino_3_{{bodypart}}" class="ui-block-c">
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_7_{{bodypart}}">A</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_8_{{bodypart}}">A</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_9_{{bodypart}}">U</a>
			</div>
			</div>
		{% else %}{% if bodypart == bodyparts.3 %}
			<div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" class="amino">Elpine</div></div>
			<div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" class="amino">Higgonine</div></div>
			<div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" class="amino">Ixanine</div></div>
			
			<div id="amino_sequences_{{bodypart}}">
			<div class="ui-block-a" id="amino_1_{{bodypart}}">
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_1_{{bodypart}}">A</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_2_{{bodypart}}">U</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_3_{{bodypart}}">U</a>
			</div>
			<div id="amino_2_{{bodypart}}" class="ui-block-b">
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_4_{{bodypart}}">U</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_5_{{bodypart}}">C</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_6_{{bodypart}}">U</a>
			</div>
			<div id="amino_3_{{bodypart}}" class="ui-block-c">
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_7_{{bodypart}}">C</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_8_{{bodypart}}">C</a>
				<a class="ui-btn ui-btn-up-b ui-shadow nucleotide" id ="codon_9_{{bodypart}}">U</a>
			</div>
			</div>
		{% endif %}{% endif %}{% endif %}{% endif %}
        

    </div><!--/{{bodypart}}-->
    {% endfor %}
{% endblock %}

	
{% block unique_script_block %}
<style>.ui-dialog  .ui-header .ui-btn-icon-notext { display:none;} </style>
<script>
    var codon_dict = new Array();
    codon_dict[0] = "U";
    codon_dict[1] = "C";
    codon_dict[2] = "A";
    codon_dict[3] = "G";
    codon_dict["U"] = 0;
    codon_dict["C"] = 1;
    codon_dict["A"] = 2;
    codon_dict["G"] = 3;

$(window).load(function(event){
    {% for locked_nuc in locked_nucs %}
        var codon = $('#codon_{{locked_nuc.absolute_position}}_{{locked_nuc.bodypart.name}}')
        //Set the text
        $(codon).text('{{locked_nuc.symbol.symbol}}');
        //Adjust codon
        AdjustCodon(codon);
        //Set class to locked
        $(codon).removeClass('ui-btn-up-b');
        $(codon).addClass('locked');
    {% empty %}
    //Nothing locked
    {% endfor %}

    //Only display hand options
    $("#lab_horns").hide();
	$("#lab_mouth").hide();
	$("#lab_tail").hide()
});
</script>
{% endblock %}