
<!DOCTYPE html> 
<html> 

<head>
<title>The Lab!</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
	<!-- Scripts -->
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>
	<script type="text/javascript" src="/static/javascript/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/static/javascript/lab-utilities.js"></script>
    <script type="text/javascript" src="/static/javascript/level2.js"></script>
    
    <!-- Unique CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/genetic_code_table.css" />
    {% if user_is_mobile %}
    <link rel="stylesheet" type="text/css" href="/static/css/scrollable-vertical-mobile.css" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="/static/css/scrollable-vertical-desktop.css" />
    {% endif %}
    
	<style>
.ui-btn-text {
white-space: normal;
}

.locked {
    background-color:#999999
    color: #CCCCCC
}
	</style>
</head> 

	

<body> 

<!--LAB-->
<div data-role="page" id="lab">

	<div data-role="header">
		<table width=100%>
		<tr>
			<td width=50%>
                <span class="heading">
                    The Lab
                </span>
                <a href="#phenotypes" data-role="button" data-transition="slidedown" data-icon="arrow-d" data-theme="b">
                Phenotype Handbook
                </a>
            </td>
			<td id="weakness">
                <span>
                <img id="lab_monster" align="right" src="{{enemy.image_filename}}"/>
                Weakness:
                {% for weakness, count in weakness_count.items %}
                    {{weakness}} x{{count}}
                {% endfor %}
                <br />
                <a href="#fight_confirm" id="fight_button" data-role="button" data-inline="true" data-theme="b">Fight!</a>
                </span>
            </td>
		</tr>
		</table>
	</div><!-- /header -->

	<div data-role="content" data-theme="d">	
    <div id="body_parts">
		
        <!-- Carosel of Body Parts -->
        <table cellspacing=0 id="body_parts">
			<tr>
				<td valign="bottom"><img id="pheno_img_hands" src="/static/images/phenotypes/normal-hands.jpg" /></td>
				<td valign="bottom"><img id="pheno_img_horns" src="/static/images/phenotypes/normal-horns.jpg" /></td>
				<td valign="bottom"><img id="pheno_img_mouth" src="/static/images/phenotypes/normal-mouth.jpg" /></td>
				<td valign="bottom"><img id="pheno_img_tail" src="/static/images/phenotypes/normal-tail.jpg" /></td>
			</tr>
			<tr>
				<td id="pheno_text_hands">Normal Hands</td>
				<td id="pheno_text_horns"></td>
				<td id="pheno_text_mouth"></td>
				<td id="pheno_text_tail"></td>
			</tr>
		</table>
    </div>

{% for bodypart in bodyparts %}
        <div id="lab_{{bodypart}}"><!-- {{bodypart}} -->  
            <div class="ui-grid-b">
                
                <!--
                {% for i in template_mapping %}
                    <div class="ui-block-{{ i|last }}">
                    <div id="amino_select_{{i|first}}_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">
                    Bwycine
                    </div>
                    </div>
                {% endfor %}-->
                    {% if user_is_mobile %}
                    {% if bodypart == bodyparts.0 %}
                        <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Bwycine</div></div>
                        <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Dentine</div></div>
                        <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Elphine</div></div>
	    </div>
                        <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;" title="Tap each nucleotide to change!">
                        <div>
			    <button data-role="none" class='section1_codon' id ="codon_1_{{bodypart}}">U</button>
			    <button data-role='none' class='section1_codon' id ="codon_2_{{bodypart}}">U</button>
			    <button data-role='none' class='section1_codon' id ="codon_3_{{bodypart}}">U</button>
                        </div>
                        <div>
			    <button data-role='none' class='section2_codon' id ="codon_4_{{bodypart}}">U</button>
			    <button data-role='none' class='section2_codon thinner' id ="codon_5_{{bodypart}}">U</button>
			    <button data-role='none' class='section2_codon' id ="codon_6_{{bodypart}}">U</button>
			</div>
                        <div>
			    <button data-role='none' class='section3_codon' id ="codon_7_{{bodypart}}">U</button>
			    <button data-role='none' class='section3_codon thinner' id ="codon_8_{{bodypart}}">U</button>
			    <button data-role='none' class='section3_codon' id ="codon_9_{{bodypart}}">U</button>
                        </div>
                        </div>
                    {% else %}{% if bodypart == bodyparts.1 %}
                        <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Jorganine</div></div>
                        <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Kruzosine</div></div>
                        <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Lonkidine</div></div>
	    </div>
                        <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                        <div>
			    <button data-role="none" class='section1_codon' id ="codon_1_{{bodypart}}">U</button>
			    <button data-role='none' class='section1_codon' id ="codon_2_{{bodypart}}">U</button>
			    <button data-role='none' class='section1_codon' id ="codon_3_{{bodypart}}">U</button>
                        </div>
                        <div>
			    <button data-role='none' class='section2_codon' id ="codon_4_{{bodypart}}">U</button>
			    <button data-role='none' class='section2_codon thinner' id ="codon_5_{{bodypart}}">U</button>
			    <button data-role='none' class='section2_codon' id ="codon_6_{{bodypart}}">U</button>
			</div>
                        <div>
			    <button data-role='none' class='section3_codon' id ="codon_7_{{bodypart}}">U</button>
			    <button data-role='none' class='section3_codon thinner' id ="codon_8_{{bodypart}}">U</button>
			    <button data-role='none' class='section3_codon' id ="codon_9_{{bodypart}}">U</button>
                        </div>
                        </div>
                    {% else %}{% if bodypart == bodyparts.2 %}
                        <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Mewsamine</div></div>
                        <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Niffagine</div></div>
                        <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Orzine</div></div>
	    </div>
                        <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                        <div>
			    <button data-role="none" class='section1_codon' id ="codon_1_{{bodypart}}">U</button>
			    <button data-role='none' class='section1_codon' id ="codon_2_{{bodypart}}">U</button>
			    <button data-role='none' class='section1_codon' id ="codon_3_{{bodypart}}">U</button>
                        </div>
                        <div>
			    <button data-role='none' class='section2_codon' id ="codon_4_{{bodypart}}">U</button>
			    <button data-role='none' class='section2_codon thinner' id ="codon_5_{{bodypart}}">U</button>
			    <button data-role='none' class='section2_codon' id ="codon_6_{{bodypart}}">U</button>
			</div>
                        <div>
			    <button data-role='none' class='section3_codon' id ="codon_7_{{bodypart}}">U</button>
			    <button data-role='none' class='section3_codon thinner' id ="codon_8_{{bodypart}}">U</button>
			    <button data-role='none' class='section3_codon' id ="codon_9_{{bodypart}}">U</button>
                        </div>
                        </div>
                    {% else %}{% if bodypart == bodyparts.3 %}
                        <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Elpine</div></div>
                        <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Higgonine</div></div>
                        <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Ixanine</div></div>
	    </div>
                        <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                        <div>
			    <button data-role="none" class='section1_codon' id ="codon_1_{{bodypart}}">U</button>
			    <button data-role='none' class='section1_codon' id ="codon_2_{{bodypart}}">U</button>
			    <button data-role='none' class='section1_codon' id ="codon_3_{{bodypart}}">U</button>
                        </div>
                        <div>
			    <button data-role='none' class='section2_codon' id ="codon_4_{{bodypart}}">U</button>
			    <button data-role='none' class='section2_codon thinner' id ="codon_5_{{bodypart}}">U</button>
			    <button data-role='none' class='section2_codon' id ="codon_6_{{bodypart}}">U</button>
			</div>
                        <div>
			    <button data-role='none' class='section3_codon' id ="codon_7_{{bodypart}}">U</button>
			    <button data-role='none' class='section3_codon thinner' id ="codon_8_{{bodypart}}">U</button>
			    <button data-role='none' class='section3_codon' id ="codon_9_{{bodypart}}">U</button>
                        </div>
                        </div>
                    {% endif %}{% endif %}{% endif %}{% endif %}
		    {% else %}
			    <!--BROWSERVERSION-->
		    {% if bodypart == bodyparts.0 %}
                        <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Bwycine</div></div>
                        <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Dentine</div></div>
                        <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Elphine</div></div>
                        
                        <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                        <div class="ui-block-a" id="amino_1_{{bodypart}}" style="cell-spacing: 0; margin: 0; cell-padding: 0;padding: 0;">
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_1_{{bodypart}}">U</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_2_{{bodypart}}">U</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_3_{{bodypart}}">U</a>
                        </div>
                        <div id="amino_2_{{bodypart}}" class="ui-block-b">
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_4_{{bodypart}}">C</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_5_{{bodypart}}">U</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_6_{{bodypart}}">A</a>
                        </div>
                        <div id="amino_3_{{bodypart}}" class="ui-block-c">
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_7_{{bodypart}}">A</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_8_{{bodypart}}">U</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_9_{{bodypart}}">U</a>
                        </div>
                        </div>
                    {% else %}{% if bodypart == bodyparts.1 %}
                        <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Jorganine</div></div>
                        <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Kruzosine</div></div>
                        <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Lonkidine</div></div>
                        
                        <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                        <div class="ui-block-a" id="amino_1_{{bodypart}}" style="cell-spacing: 0; margin: 0; cell-padding: 0;padding: 0;">
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_1_{{bodypart}}">A</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_2_{{bodypart}}">C</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_3_{{bodypart}}">U</a>
                        </div>
                        <div id="amino_2_{{bodypart}}" class="ui-block-b">
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_4_{{bodypart}}">G</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_5_{{bodypart}}">C</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_6_{{bodypart}}">U</a>
                        </div>
                        <div id="amino_3_{{bodypart}}" class="ui-block-c">
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_7_{{bodypart}}">G</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_8_{{bodypart}}">C</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_9_{{bodypart}}">A</a>
                        </div>
                        </div>
                    {% else %}{% if bodypart == bodyparts.2 %}
                        <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Mewsamine</div></div>
                        <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Niffagine</div></div>
                        <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Orzine</div></div>
                        
                        <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                        <div class="ui-block-a" id="amino_1_{{bodypart}}" style="cell-spacing: 0; margin: 0; cell-padding: 0;padding: 0;">
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_1_{{bodypart}}">C</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_2_{{bodypart}}">A</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_3_{{bodypart}}">U</a>
                        </div>
                        <div id="amino_2_{{bodypart}}" class="ui-block-b">
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_4_{{bodypart}}">C</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_5_{{bodypart}}">A</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_6_{{bodypart}}">A</a>
                        </div>
                        <div id="amino_3_{{bodypart}}" class="ui-block-c">
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_7_{{bodypart}}">A</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_8_{{bodypart}}">A</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_9_{{bodypart}}">U</a>
                        </div>
                        </div>
                    {% else %}{% if bodypart == bodyparts.3 %}
                        <div class="ui-block-a"> <div id="amino_select_1_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Elpine</div></div>
                        <div class="ui-block-b"> <div id="amino_select_2_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Higgonine</div></div>
                        <div class="ui-block-c"> <div id="amino_select_3_{{bodypart}}" style="float: left; font-size: 20px;font-weight: bold">Ixanine</div></div>
                        
                        <div id="amino_sequences_{{bodypart}}"  style="font-size: 28px;">
                        <div class="ui-block-a" id="amino_1_{{bodypart}}" style="cell-spacing: 0; margin: 0; cell-padding: 0;padding: 0;">
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_1_{{bodypart}}">A</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_2_{{bodypart}}">U</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_3_{{bodypart}}">U</a>
                        </div>
                        <div id="amino_2_{{bodypart}}" class="ui-block-b">
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_4_{{bodypart}}">U</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_5_{{bodypart}}">C</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_6_{{bodypart}}">U</a>
                        </div>
                        <div id="amino_3_{{bodypart}}" class="ui-block-c">
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_7_{{bodypart}}">C</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_8_{{bodypart}}">C</a>
                            <a class="ui-btn ui-btn-up-b ui-shadow" id ="codon_9_{{bodypart}}">U</a>
                        </div>
                        </div>
                    {% endif %}{% endif %}{% endif %}{% endif %}
		    {% endif %}
                    
                <!--
                <div id="amino_sequences_{{bodypart}}">
                {% if bodypart == bodyparts.0 %}
                    <div class="ui-block-a" id="amino_1_{{bodypart}}" style="text-align:center"><h1>UUU</h1></div>
                    <div class="ui-block-b" id="amino_2_{{bodypart}}" style="text-align:center"><h1>CUA</h1></div>
                    <div class="ui-block-c" id="amino_3_{{bodypart}}" style="text-align:center"><h1>AUU</h1></div>
                {% else %}{% if bodypart == bodyparts.1 %}
                    <div class="ui-block-a" id="amino_1_{{bodypart}}" style="text-align:center"><h1>ACU</h1></div>
                    <div class="ui-block-b" id="amino_2_{{bodypart}}" style="text-align:center"><h1>GCU</h1></div>
                    <div class="ui-block-c" id="amino_3_{{bodypart}}" style="text-align:center"><h1>GCA</h1></div>
                {% else %}{% if bodypart == bodyparts.2 %}
                    <div class="ui-block-a" id="amino_1_{{bodypart}}" style="text-align:center"><h1>CAU</h1></div>
                    <div class="ui-block-b" id="amino_2_{{bodypart}}" style="text-align:center"><h1>CAA</h1></div>
                    <div class="ui-block-c" id="amino_3_{{bodypart}}" style="text-align:center"><h1>AAU</h1></div>
                {% else %}{% if bodypart == bodyparts.3 %}
                    <div class="ui-block-a" id="amino_1_{{bodypart}}" style="text-align:center"><h1>AUU</h1></div>
                    <div class="ui-block-b" id="amino_2_{{bodypart}}" style="text-align:center"><h1>UCU</h1></div>
                    <div class="ui-block-c" id="amino_3_{{bodypart}}" style="text-align:center"><h1>CCU</h1></div>
                {% endif %}{% endif %}{% endif %}{% endif %}
                -->
                
            </div>
		</div><!--/{{bodypart}}-->
    {% endfor %}


	</div><!-- /content -->

	
	<div data-role="footer">
	</div><!-- /footer -->
</div><!--/lab-->

<style>.ui-dialog  .ui-header .ui-btn-icon-notext	{ display:none;} </style>
<div data-role="page" id="fight_confirm" data-add-back-btn="true"> <!--FIGHT-CONFIRMATION-->
	<div data-role='header'>
        <div id="ready">Ready to Fight?</div>
        <div class="right">
            <form id="fight_form" action="/beasties/fight/" method="post">
            {% csrf_token %}
            <input type="hidden" name="enemy_id" value="{{enemy.id}}">
            <input type="hidden" id="fight_hands" name="fight_hands" value="Normal Hands">
            <input type="hidden" id="fight_horns" name="fight_horns" value="Normal Horns">
            <input type="hidden" id="fight_mouth" name="fight_mouth" value="Normal Mouth">
            <input type="hidden" id="fight_tail" name="fight_tail" value="Normal Tail">
            <input type="submit" value="Fight" class="ui-btn-right" data-theme="a" data-inline="true">
            </form>
        </div>
	</div>

	<div data-role='content'>
		<div class='ui-grid-a'>
			<div class='ui-block-a'>
				<h2>You</h2>
				<table align="center">
				<tr>
				<td><img id="confirm_hands" src='' /><h4 id="confirm_hands_text"></h4></td>
				<td><img id="confirm_horns" src='' /><h4 id="confirm_horns_text"></h4></td>
				</tr>
				<tr>
				<td><img id="confirm_mouth" src='' /><h4 id="confirm_mouth_text"></h4></td>
				<td><img id="confirm_tail" src='' /><h4 id="confirm_tail_text"></h4></td>
				</tr>
				</table>
			</div>

			<div class='ui-block-b'>
				<h2>{{enemy.name}}</h2>
				<img src="{{enemy.image_filename}}" />
				<h4>
                Weakness:
                {% for weakness, count in weakness_count.items %}
                    {{weakness}} x{{count}}
                {% endfor %}
                </h4>
			</div>
		</div>
		
	</div>
</div><!--/fight-confirmation-->


<div data-role="page"  id="genetic_code">
	<div data-role="header" data-position="fixed">
		<table width=100%>
		<tr>
            <td width=50px>
                <a href="#phenotypes" data-role="button" data-rel="back" data-theme='b' data-inline="true" data-icon="back">
                Handbook
                </a>
            </td>
            <td>
                <span class="heading">
                    Monster Universal Genetic Code
                </span>
            </td>
            <td>
                <span class="right">
                    <img align='left' src='' id='selected_image' />
                    <span id="selected_phenotype">
                    </span>
                    <br />
                    <span id="selected_amino_1">-</span>-<span id="selected_amino_2"></span>-<span id="selected_amino_3"></span>
                 </span>
            </td>
            <td>
                <a href="#lab" data-role="button" data-transition='slideup' data-theme='b' data-inline="true">
                Back to Lab
                </a>
            </td>
		</tr>
		</table>	
	</div>
	
	<div data-role="content">
		<table align=center id="code">
		<tr class="header">
		<td width=5%></td>
		<td colspan=2 class="border-all">U</td>
		<td colspan=2 class="border-all">C</td>
		<td colspan=2 class="border-all">A</td>
		<td colspan=2 class="border-all">G</td>
		<td colspan=2 width=5%></td>
		</tr>

        <tr>
		<td width=5% rowspan=4 class="border-all header">U</td>
		<td class="codon_cell Bwy">UUU</td>
		<td class="amino_cell Bwy">Bwy</td>
		<td class="codon_cell Hig">UCU</td>
		<td class="amino_cell Hig">Hig</td>
		<td class="codon_cell Lon">UAU</td>
		<td class="amino_cell Lon">Lon</td>
		<td class="codon_cell Sly">UGU</td>
		<td class="amino_cell Sly">Sly</td>
		<td width=5% class="border-all">U</td>
		</tr>

        <tr>
		<td class="codon_cell Bwy">UUC</td>
		<td class="amino_cell Bwy">Bwy</td>
		<td class="codon_cell Hig">UCC</td>
		<td class="amino_cell Hig">Hig</td>
		<td class="codon_cell Lon">UAC</td>
		<td class="amino_cell Lon">Lon</td>
		<td class="codon_cell Sly">UGC</td>
		<td class="amino_cell Sly">Sly</td>
		<td width=5% class="border-all">C</td>
		</tr>

        <tr>
		<td class="codon_cell Bwy">UUA</td>
		<td class="amino_cell Bwy">Bwy</td>
		<td class="codon_cell Hig">UCA</td>
		<td class="amino_cell Hig">Hig</td>
		<td class="codon_cell Lon">UAA</td>
		<td class="amino_cell Lon">Lon</td>
		<td class="codon_cell Tor">UGA</td>
		<td class="amino_cell Tor">Tor</td>
		<td width=5% class="border-all">A</td>
		</tr>

        <tr>
		<td class="codon_cell Bwy border_below">UUG</td>
		<td class="amino_cell Bwy border_below">Bwy</td>
		<td class="codon_cell Hig border_below">UCG</td>
		<td class="amino_cell Hig border_below">Hig</td>
		<td class="codon_cell Lon border_below">UAG</td>
		<td class="amino_cell Lon border_below">Lon</td>
		<td class="codon_cell Tor border_below">UGG</td>
		<td class="amino_cell Tor border_below">Tor</td>
		<td width=5% class="border-all">G</td>
		</tr>

        <tr>
		<td width=5% rowspan=4 class="border-all header">C</td>
		<td class="codon_cell Bwy">CUU</td>
		<td class="amino_cell Bwy">Bwy</td>
		<td class="codon_cell Ixa">CCU</td>
		<td class="amino_cell Ixa">Ixa</td>
		<td class="codon_cell Mew">CAU</td>
		<td class="amino_cell Mew">Mew</td>
		<td class="codon_cell Vla">CGU</td>
		<td class="amino_cell Vla">Vla</td>
		<td width=5% class="border-all">U</td>
		</tr>

        <tr>
		<td class="codon_cell Bwy">CUC</td>
		<td class="amino_cell Bwy">Bwy</td>
		<td class="codon_cell Ixa">CCC</td>
		<td class="amino_cell Ixa">Ixa</td>
		<td class="codon_cell Mew">CAC</td>
		<td class="amino_cell Mew">Mew</td>
		<td class="codon_cell Vla">CGC</td>
		<td class="amino_cell Vla">Vla</td>
		<td width=5% class="border-all">C</td>
		</tr>

        <tr>
		<td class="codon_cell Den">CUA</td>
		<td class="amino_cell Den">Den</td>
		<td class="codon_cell Ixa">CCA</td>
		<td class="amino_cell Ixa">Ixa</td>
		<td class="codon_cell Nif">CAA</td>
		<td class="amino_cell Nif">Nif</td>
		<td class="codon_cell Wor">CGA</td>
		<td class="amino_cell Wor">Wor</td>
		<td width=5% class="border-all">A</td>
		</tr>

        <tr>
		<td class="codon_cell Den border_below">CUG</td>
		<td class="amino_cell Den border_below">Den</td>
		<td class="codon_cell Ixa border_below">CCG</td>
		<td class="amino_cell Ixa border_below">Ixa</td>
		<td class="codon_cell Nif border_below">CAG</td>
		<td class="amino_cell Nif border_below">Nif</td>
		<td class="codon_cell Wor border_below">CGG</td>
		<td class="amino_cell Wor border_below">Wor</td>
		<td width=5% class="border-all">G</td>
		</tr>

        <tr>
		<td width=5% rowspan=4 class="border-all header">A</td>
		<td class="codon_cell Elp">AUU</td>
		<td class="amino_cell Elp">Elp</td>
		<td class="codon_cell Jor">ACU</td>
		<td class="amino_cell Jor">Jor</td>
		<td class="codon_cell Orz">AAU</td>
		<td class="amino_cell Orz">Orz</td>
		<td class="codon_cell Wor">AGU</td>
		<td class="amino_cell Wor">Wor</td>
		<td width=5% class="border-all">U</td>
		</tr>

        <tr>
		<td class="codon_cell Elp">AUC</td>
		<td class="amino_cell Elp">Elp</td>
		<td class="codon_cell Jor">ACC</td>
		<td class="amino_cell Jor">Jor</td>
		<td class="codon_cell Orz">AAC</td>
		<td class="amino_cell Orz">Orz</td>
		<td class="codon_cell Wor">AGC</td>
		<td class="amino_cell Wor">Wor</td>
		<td width=5% class="border-all">C</td>
		</tr>

        <tr>
		<td class="codon_cell Elp">AUA</td>
		<td class="amino_cell Elp">Elp</td>
		<td class="codon_cell Jor">ACA</td>
		<td class="amino_cell Jor">Jor</td>
		<td class="codon_cell Pef">AAA</td>
		<td class="amino_cell Pef">Pef</td>
		<td class="codon_cell Yaf">AGA</td>
		<td class="amino_cell Yaf">Yaf</td>
		<td width=5% class="border-all">A</td>
		</tr>

        <tr>
		<td class="codon_cell Elp border_below">AUG</td>
		<td class="amino_cell Elp border_below">Elp</td>
		<td class="codon_cell Jor border_below">ACG</td>
		<td class="amino_cell Jor border_below">Jor</td>
		<td class="codon_cell Pef border_below">AAG</td>
		<td class="amino_cell Pef border_below">Pef</td>
		<td class="codon_cell Yaf border_below">AGG</td>
		<td class="amino_cell Yaf border_below">Yaf</td>
		<td width=5% class="border-all">G</td>
		</tr>

        <tr>
		<td width=5% rowspan=4 class="border-all header">G</td>
		<td class="codon_cell Elp">GUU</td>
		<td class="amino_cell Elp">Elp</td>
		<td class="codon_cell Kru">GCU</td>
		<td class="amino_cell Kru">Kru</td>
		<td class="codon_cell Qua">GAU</td>
		<td class="amino_cell Qua">Qua</td>
		<td class="codon_cell Yaf">GGU</td>
		<td class="amino_cell Yaf">Yaf</td>
		<td width=5% class="border-all">U</td>
		</tr>

        <tr>
		<td class="codon_cell Elp">GUC</td>
		<td class="amino_cell Elp">Elp</td>
		<td class="codon_cell Kru">GCC</td>
		<td class="amino_cell Kru">Kru</td>
		<td class="codon_cell Qua">GAC</td>
		<td class="amino_cell Qua">Qua</td>
		<td class="codon_cell Yaf">GGC</td>
		<td class="amino_cell Yaf">Yaf</td>
		<td width=5% class="border-all">C</td>
		</tr>

        <tr>
		<td class="codon_cell Elp">GUA</td>
		<td class="amino_cell Elp">Elp</td>
		<td class="codon_cell Lon">GCA</td>
		<td class="amino_cell Lon">Lon</td>
		<td class="codon_cell Raj">GAA</td>
		<td class="amino_cell Raj">Raj</td>
		<td class="codon_cell Zun">GGA</td>
		<td class="amino_cell Zun">Zun</td>
		<td width=5% class="border-all">A</td>
		</tr>

        <tr>
		<td class="codon_cell Elp border_below">GUG</td>
		<td class="amino_cell Elp border_below">Elp</td>
		<td class="codon_cell Lon border_below">GCG</td>
		<td class="amino_cell Lon border_below">Lon</td>
		<td class="codon_cell Raj border_below">GAG</td>
		<td class="amino_cell Raj border_below">Raj</td>
		<td class="codon_cell Zun border_below">GGG</td>
		<td class="amino_cell Zun border_below">Zun</td>
		<td width=5% class="border-all">G</td>
		</tr>
		</table>

		<!--<img src='genetic_code.jpg' />-->
	</div>
</div>

<div data-role="page" id="phenotypes" >

	<div data-role="header">
    <span class="heading">
        Known Monster Phenotypes
        <a href="#lab" data-role="button" data-icon="arrow-u" data-transition="slideup" data-theme='b' data-inline="true">
        Back to Lab
        </a>
    </span>
	</div><!-- /header -->

	<div data-role="content" data-theme="d">	
		<ul data-role="listview" data-filter="true" data-filter-placeholder="Search for phenotype...">
            {% for bodypart in bodyparts %}
                <li data-role="list-divider" class="bodypart">
                    {{bodypart}}
                </li>
                {% for phenotype in phenotypes %}
                    {% if phenotype.bodypart == bodypart and not "Normal" in phenotype.name %}
                        <li>
                            <a href="#genetic_code" data-transition="slide" class="pheno_list_item" data-phenotype="{{phenotype.name}}" data-aminoacids="{{phenotype.amino_acid_name_1.symbol}}-{{phenotype.amino_acid_name_2.symbol}}-{{phenotype.amino_acid_name_3.symbol}}">
                            <img src="{{phenotype.image_filename}}" class="phenotype" />
                            <h2>{{ phenotype.name }}</h2>
                            <!--<p><b>Amino Acid Sequence:</b> {{phenotype.amino_acid_name_1}} {{phenotype.amino_acid_name_2}} {{phenotype.amino_acid_name_3}}</p>-->
                            <p class="aminoseq">{{phenotype.amino_acid_name_1.symbol}} {{phenotype.amino_acid_name_2.symbol}} {{phenotype.amino_acid_name_3.symbol}}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}            
            {% endfor %}
        </ul>
	</div><!-- /content -->
    
	<div data-role="footer">
	</div><!-- /footer -->
</div>

<script>

    var amino_sequences = {}
    var genetic_code = {}
    {% for amino_acid in amino_acids %}
    amino_sequences["{{amino_acid.name.name}}"] = "{{amino_acid.nucleotide_1.symbol}}{{amino_acid.nucleotide_2.symbol}}{{amino_acid.nucleotide_3.symbol}}"
    genetic_code["{{amino_acid.nucleotide_1.symbol}}{{amino_acid.nucleotide_2.symbol}}{{amino_acid.nucleotide_3.symbol}}"] = "{{amino_acid.name.name}}"
    {% endfor %}

    var amino_abbreviations = {};
    {% for amino_acid in amino_acids %}
    amino_abbreviations["{{amino_acid.name.name}}"] = "{{amino_acid.name.symbol}}"
    {% endfor %}
    
    var pheno_seq = {}
    {% for phenotype in phenotypes %}
    pheno_seq["{{phenotype.name}}"] = "{{phenotype.amino_acid_name_1.symbol}}{{phenotype.amino_acid_name_2.symbol}}{{phenotype.amino_acid_name_3.symbol}}"
    {% endfor %}

    //var pheno_pics = {"Mirror Palms": "/static/images/phenotypes/reflect-hands.jpg", "Poblano Pepper Fists": "/static/images/phenotypes/spicy-hands.jpg", "Cyclone Fists": "/static/images/phenotypes/wind-hands.jpg", "Razor Claws": "/static/images/phenotypes/sharp-hands.jpg", "Thunder Clap": "/static/images/phenotypes/elec-hands.jpg", "Fiery Fists": "/static/images/phenotypes/fire-hands.jpg", "Shocking Palms": "/static/images/phenotypes/noisy-hands.jpg", "Frozen Fists": "/static/images/phenotypes/cold-hands.jpg", "Sweaty Palms": "/static/images/phenotypes/water-hands.jpg", "Normal Hands": "/static/images/phenotypes/normal-hands.jpg", "Normal Horns": "/static/images/phenotypes/normal-horns.jpg", "Normal Mouth": "/static/images/phenotypes/normal-mouth.jpg", "Normal Tail": "/static/images/phenotypes/normal-tail.jpg"};
    var pheno_pics = {}
    {% for phenotype in phenotypes %}
    pheno_pics["{{phenotype.name}}"] = "{{phenotype.image_filename}}"
    {% endfor %}

    var current_phenotype = "hands";

    var codon_dict = new Array();
    codon_dict[0] = "U";
    codon_dict[1] = "C";
    codon_dict[2] = "A";
    codon_dict[3] = "G";
    codon_dict["U"] = 0;
    codon_dict["C"] = 1;
    codon_dict["A"] = 2;
    codon_dict["G"] = 3;

$(window).load(function(event){
    {% for locked_nuc in locked_nucs %}
        var codon = $('#codon_{{locked_nuc.absolute_position}}_{{locked_nuc.bodypart.name}}')
        //Set the text
        $(codon).text('{{locked_nuc.symbol.symbol}}');
        //Adjust codon
        AdjustCodon(codon);
        //Set class to locked
        $(codon).removeClass('ui-btn-up-b');
        $(codon).addClass('locked');
    {% empty %}
    //Nothing locked
    {% endfor %}

    //Only display hand options
    $("#lab_horns").hide();
	$("#lab_mouth").hide();
	$("#lab_tail").hide()
});
</script>

</body>
</html>
