<!DOCTYPE html> 
<html> 

<head>
	<title>The Lab!</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
	<!-- Scripts -->
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>
    
	<script type="text/javascript" src="/static/javascript/jquery.tools.min.js"></script>
    
    <!-- Unique CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/genetic_code_table.css" />
    {% if user_is_mobile %}
    <link rel="stylesheet" type="text/css" href="/static/css/scrollable-vertical-mobile.css" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="/static/css/scrollable-vertical-desktop.css" />
    {% endif %}
    
    <style>
.ui-btn-text {
white-space: normal;
}
	</style>
</head> 

<body> 

<!--LAB-->
<div data-role="page" id="lab">

    <div data-role="header">
		<table width=100%>
		<tr>
			<td width=50%>
                <span class="heading">
                    The Lab
                </span>
                <a href="#phenotypes" data-role="button" data-transition="slidedown" data-icon="arrow-d" data-theme="b">
                Phenotype Handbook
                </a>
            </td>
			<td id="weakness">
                <span>
                <img id="lab_monster" align="right" src="{{enemy.image_filename}}"/>
                Weakness:
                {% for weakness, count in weakness_count.items %}
                    {{weakness}} x{{count}}
                {% endfor %}
                <br />
                <a href="#fight_confirm" id="fight_button" data-role="button" data-inline="true" data-theme="b">Fight!</a>
                </span>
            </td>
		</tr>
		</table>
	</div><!-- /header -->

	<div data-role="content" data-theme="d">	
    <div id="body_parts">
		        <!-- Carosel of Body Parts -->
        <table cellspacing=0 id="body_parts">			<tr>				<td valign="bottom"><img id="pheno_img_hands" src="/static/images/phenotypes/normal-hands.jpg" /></td>				<td valign="bottom"><img id="pheno_img_horns" src="/static/images/phenotypes/normal-horns.jpg" /></td>				<td valign="bottom"><img id="pheno_img_mouth" src="/static/images/phenotypes/normal-mouth.jpg" /></td>				<td valign="bottom"><img id="pheno_img_tail" src="/static/images/phenotypes/normal-tail.jpg" /></td>			</tr>			<tr>				<td id="pheno_text_hands">Normal Hands</td>				<td id="pheno_text_horns"></td>				<td id="pheno_text_mouth"></td>				<td id="pheno_text_tail"></td>
			</tr>		</table>
    </div>
        
        {% for bodypart in bodyparts %}
            <div id="lab_{{bodypart}}"><!-- {{bodypart}} -->  
                <div class="ui-grid-b">                
                {% for i in template_mapping %}
                    <div class="ui-block-{{ i|last }}">
                
                    <div class="actions">
                        <a class="next browse up"></a>
                    </div>
                   
                   <div class="scrollable vertical" id="amino_select_{{ i|first }}_{{ bodypart }}">
                   <div class="items">                        {% for aa_name in amino_acid_names %}
                            <div>
                            <div class="item" title="{{aa_name}}">{{aa_name}}</div>
                            </div>
                        {% endfor %}                   </div>                   </div>
                   
                    <div class="actions">
                        <a class="prev browse down"></a>
                    </div>
                </div>
                {% endfor %}
                
                <div id="amino_sequences_{{bodypart}}">
                {% if bodypart == bodyparts.0 %}
                    <div class="ui-block-a" id="amino_1_{{bodypart}}"><h1>UUU</h1></div>
                    <div class="ui-block-b" id="amino_2_{{bodypart}}"><h1>CUA</h1></div>
                    <div class="ui-block-c" id="amino_3_{{bodypart}}"><h1>AUU</h1></div>
                {% else %}{% if bodypart == bodyparts.1 %}
                    <div class="ui-block-a" id="amino_1_{{bodypart}}"><h1>ACU</h1></div>
                    <div class="ui-block-b" id="amino_2_{{bodypart}}"><h1>GCU</h1></div>
                    <div class="ui-block-c" id="amino_3_{{bodypart}}"><h1>GCA</h1></div>
                {% else %}{% if bodypart == bodyparts.2 %}
                    <div class="ui-block-a" id="amino_1_{{bodypart}}"><h1>CAU</h1></div>
                    <div class="ui-block-b" id="amino_2_{{bodypart}}"><h1>CAA</h1></div>
                    <div class="ui-block-c" id="amino_3_{{bodypart}}"><h1>AAU</h1></div>
                {% else %}{% if bodypart == bodyparts.3 %}
                    <div class="ui-block-a" id="amino_1_{{bodypart}}"><h1>AUU</h1></div>
                    <div class="ui-block-b" id="amino_2_{{bodypart}}"><h1>UCU</h1></div>
                    <div class="ui-block-c" id="amino_3_{{bodypart}}"><h1>CCU</h1></div>
                {% endif %}{% endif %}{% endif %}{% endif %}
                </div>
                </div>
                
            </div><!--/{{bodypart}}-->
        {% endfor %}
        
    </div><!-- /content -->
	<div data-role="footer">
	</div><!-- /footer -->
</div><!--/lab-->

<div data-role="page" id="fight_confirm" data-add-back-btn="true"> <!--FIGHT-CONFIRMATION-->
	<div data-role='header'>
        <div id="ready">Ready to Fight?</div>
        <div class="right">
            <form id="fight_form" action="/beasties/fight/" method="post">
            {% csrf_token %}
            <input type="hidden" name="enemy_id" value="{{enemy.id}}">
            <input type="hidden" id="fight_hands" name="fight_hands" value="Normal Hands">
            <input type="hidden" id="fight_horns" name="fight_horns" value="Normal Horns">
            <input type="hidden" id="fight_mouth" name="fight_mouth" value="Normal Mouth">
            <input type="hidden" id="fight_tail" name="fight_tail" value="Normal Tail">
            <input type="submit" value="Fight" class="ui-btn-right" data-theme="a" data-inline="true">
            </form>
        </div>
	</div>

	<div data-role='content'>
		<div class='ui-grid-a'>
			<div class='ui-block-a'>
				<h2>You</h2>
				<table align="center">
				<tr>
				<td><img id="confirm_hands" src='' /><h4 id="confirm_hands_text"></h4></td>
				<td><img id="confirm_horns" src='' /><h4 id="confirm_horns_text"></h4></td>
				</tr>
				<tr>
				<td><img id="confirm_mouth" src='' /><h4 id="confirm_mouth_text"></h4></td>
				<td><img id="confirm_tail" src='' /><h4 id="confirm_tail_text"></h4></td>
				</tr>
				</table>
			</div>

			<div class='ui-block-b'>
				<h2>{{enemy.name}}</h2>
				<img src="{{enemy.image_filename}}" />
				<h4>
                Weakness:
                {% for weakness, count in weakness_count.items %}
                    {{weakness}} x{{count}}
                {% endfor %}
                </h4>
			</div>
		</div>
		
	</div>
</div><!--/fight-confirmation-->

<div data-role="page"  id="genetic_code">
	<div data-role="header" data-position="fixed">
		<table width=100%>
		<tr>
            <td width=50px>
                <a href="#phenotypes" data-role="button" data-rel="back" data-theme='b' data-inline="true" data-icon="back">
                Handbook
                </a>
            </td>
            <td>
                <span class="heading">
                    Monster Universal Genetic Code
                </span>
            </td>
            <td>
                <span class="right">
                    <img align='left' src='' id='selected_image' />
                    <span id="selected_phenotype">
                    </span>
                    <br />
                    <span id="selected_amino_1">-</span>-<span id="selected_amino_2"></span>-<span id="selected_amino_3"></span>
                 </span>

            </td>
            <td>
                <a href="#lab" data-role="button" data-transition='slideup' data-theme='b' data-inline="true">
                Back to Lab
                </a>
            </td>
		</tr>
		</table>	
	</div>
	
	<div data-role="content">
		<table id="code" align=center>
		<tr class="header">
		<td width=5%></td>
		<td colspan=2 class="border-all">U</td>
		<td colspan=2 class="border-all">C</td>
		<td colspan=2 class="border-all">A</td>
		<td colspan=2 class="border-all">G</td>
		<td colspan=2 width=5%></td>
		</tr>

		<tr>
		<td width=5% rowspan=4 class="border-all header">U</td>
		<td class="codon_cell Bwy">UUU</td>
		<td class="amino_cell Bwy">Bwycine</td>
		<td class="codon_cell Hig">UCU</td>
		<td class="amino_cell Hig">Higgonine</td>
		<td class="codon_cell Lon">UAU</td>
		<td class="amino_cell Lon">Lonkidine</td>
		<td class="codon_cell Sly">UGU</td>
		<td class="amino_cell Sly">Slyctein</td>
		<td width=5% class="border-all">U</td>
		</tr>

		<tr>
		<td class="codon_cell Bwy">UUC</td>
		<td class="amino_cell Bwy">Bwycine</td>
		<td class="codon_cell Hig">UCC</td>
		<td class="amino_cell Hig">Higgonine</td>
		<td class="codon_cell Lon">UAC</td>
		<td class="amino_cell Lon">Lonkidine</td>
		<td class="codon_cell Sly">UGC</td>
		<td class="amino_cell Sly">Slyctein</td>
		<td width=5% class="border-all">C</td>
		</tr>

		<tr>
		<td class="codon_cell Bwy">UUA</td>
		<td class="amino_cell Bwy">Bwycine</td>
		<td class="codon_cell Hig">UCA</td>
		<td class="amino_cell Hig">Higgonine</td>
		<td class="codon_cell Lon">UAA</td>
		<td class="amino_cell Lon">Lonkidine</td>
		<td class="codon_cell Tor">UGA</td>
		<td class="amino_cell Tor">Torkanine</td>
		<td width=5% class="border-all">A</td>
		</tr>

		<tr>
		<td class="codon_cell Bwy border_below">UUG</td>
		<td class="amino_cell Bwy border_below">Bwycine</td>
		<td class="codon_cell Hig border_below">UCG</td>
		<td class="amino_cell Hig border_below">Higgonine</td>
		<td class="codon_cell Lon border_below">UAG</td>
		<td class="amino_cell Lon border_below">Lonkidine</td>
		<td class="codon_cell Tor border_below">UGG</td>
		<td class="amino_cell Tor border_below">Torkanine</td>
		<td width=5% class="border-all">G</td>
		</tr>

		<tr>
		<td width=5% rowspan=4 class="border-all header">C</td>
		<td class="codon_cell Bwy">CUU</td>
		<td class="amino_cell Bwy">Bwycine</td>
		<td class="codon_cell Ixa">CCU</td>
		<td class="amino_cell Ixa">Ixanine</td>
		<td class="codon_cell Mew">CAU</td>
		<td class="amino_cell Mew">Mewsamine</td>
		<td class="codon_cell Vla">CGU</td>
		<td class="amino_cell Vla">Vladine</td>
		<td width=5% class="border-all">U</td>
		</tr>

		<tr>
		<td class="codon_cell Bwy">CUC</td>
		<td class="amino_cell Bwy">Bwycine</td>
		<td class="codon_cell Ixa">CCC</td>
		<td class="amino_cell Ixa">Ixanine</td>
		<td class="codon_cell Mew">CAC</td>
		<td class="amino_cell Mew">Mewsamine</td>
		<td class="codon_cell Vla">CGC</td>
		<td class="amino_cell Vla">Vladine</td>
		<td width=5% class="border-all">C</td>
		</tr>

		<tr>
		<td class="codon_cell Den">CUA</td>
		<td class="amino_cell Den">Dentine</td>
		<td class="codon_cell Ixa">CCA</td>
		<td class="amino_cell Ixa">Ixanine</td>
		<td class="codon_cell Nif">CAA</td>
		<td class="amino_cell Nif">Niffagine</td>
		<td class="codon_cell Wor">CGA</td>
		<td class="amino_cell Wor">Worbamine</td>
		<td width=5% class="border-all">A</td>
		</tr>

		<tr>
		<td class="codon_cell Den border_below">CUG</td>
		<td class="amino_cell Den border_below">Dentine</td>
		<td class="codon_cell Ixa border_below">CCG</td>
		<td class="amino_cell Ixa border_below">Ixanine</td>
		<td class="codon_cell Nif border_below">CAG</td>
		<td class="amino_cell Nif border_below">Niffagine</td>
		<td class="codon_cell Wor border_below">CGG</td>
		<td class="amino_cell Wor border_below">Worbamine</td>
		<td width=5% class="border-all">G</td>
		</tr>

		<tr>
		<td width=5% rowspan=4 class="border-all header">A</td>
		<td class="codon_cell Elp">AUU</td>
		<td class="amino_cell Elp">Elphine</td>
		<td class="codon_cell Jor">ACU</td>
		<td class="amino_cell Jor">Jorganine</td>
		<td class="codon_cell Orz">AAU</td>
		<td class="amino_cell Orz">Orzine</td>
		<td class="codon_cell Wor">AGU</td>
		<td class="amino_cell Wor">Worbamine</td>
		<td width=5% class="border-all">U</td>
		</tr>

		<tr>
		<td class="codon_cell Elp">AUC</td>
		<td class="amino_cell Elp">Elphine</td>
		<td class="codon_cell Jor">ACC</td>
		<td class="amino_cell Jor">Jorganine</td>
		<td class="codon_cell Orz">AAC</td>
		<td class="amino_cell Orz">Orzine</td>
		<td class="codon_cell Wor">AGC</td>
		<td class="amino_cell Wor">Worbamine</td>
		<td width=5% class="border-all">C</td>
		</tr>

		<tr>
		<td class="codon_cell Elp">AUA</td>
		<td class="amino_cell Elp">Elphine</td>
		<td class="codon_cell Jor">ACA</td>
		<td class="amino_cell Jor">Jorganine</td>
		<td class="codon_cell Pef">AAA</td>
		<td class="amino_cell Pef">Peffaline</td>
		<td class="codon_cell Yaf">AGA</td>
		<td class="amino_cell Yaf">Yaffline</td>
		<td width=5% class="border-all">A</td>
		</tr>

		<tr>
		<td class="codon_cell Elp border_below">AUG</td>
		<td class="amino_cell Elp border_below">Elphine</td>
		<td class="codon_cell Jor border_below">ACG</td>
		<td class="amino_cell Jor border_below">Jorganine</td>
		<td class="codon_cell Pef border_below">AAG</td>
		<td class="amino_cell Pef border_below">Peffaline</td>
		<td class="codon_cell Yaf border_below">AGG</td>
		<td class="amino_cell Yaf border_below">Yaffline</td>
		<td width=5% class="border-all">G</td>
		</tr>

		<tr>
		<td width=5% rowspan=4 class="border-all header">G</td>
		<td class="codon_cell Elp">GUU</td>
		<td class="amino_cell Elp">Elphine</td>
		<td class="codon_cell Kru">GCU</td>
		<td class="amino_cell Kru">Kruzosine</td>
		<td class="codon_cell Qua">GAU</td>
		<td class="amino_cell Qua">Quarbline</td>
		<td class="codon_cell Yaf">GGU</td>
		<td class="amino_cell Yaf">Yaffline</td>
		<td width=5% class="border-all">U</td>
		</tr>

		<tr>
		<td class="codon_cell Elp">GUC</td>
		<td class="amino_cell Elp">Elphine</td>
		<td class="codon_cell Kru">GCC</td>
		<td class="amino_cell Kru">Kruzosine</td>
		<td class="codon_cell Qua">GAC</td>
		<td class="amino_cell Qua">Quarbline</td>
		<td class="codon_cell Yaf">GGC</td>
		<td class="amino_cell Yaf">Yaffline</td>
		<td width=5% class="border-all">C</td>
		</tr>

		<tr>
		<td class="codon_cell Elp">GUA</td>
		<td class="amino_cell Elp">Elphine</td>
		<td class="codon_cell Lon">GCA</td>
		<td class="amino_cell Lon">Lonkidine</td>
		<td class="codon_cell Raj">GAA</td>
		<td class="amino_cell Raj">Rajormine</td>
		<td class="codon_cell Zun">GGA</td>
		<td class="amino_cell Zun">Zunganine</td>
		<td width=5% class="border-all">A</td>
		</tr>

		<tr>
		<td class="codon_cell Elp border_below">GUG</td>
		<td class="amino_cell Elp border_below">Elphine</td>
		<td class="codon_cell Lon border_below">GCG</td>
		<td class="amino_cell Lon border_below">Lonkidine</td>
		<td class="codon_cell Raj border_below">GAG</td>
		<td class="amino_cell Raj border_below">Rajormine</td>
		<td class="codon_cell Zun border_below">GGG</td>
		<td class="amino_cell Zun border_below">Zunganine</td>
		<td width=5% class="border-all">G</td>
		</tr>
		</table>

		<!--<img src='genetic_code.jpg' />-->
	</div>
</div>

<div data-role="page" id="phenotypes"> <!--data-add-back-btn="true">-->

	<div data-role="header">
    <span class="heading">
        Known Monster Phenotypes
        <a href="#lab" data-role="button" data-icon="arrow-u" data-transition="slideup" data-theme='b' data-inline="true">
        Back to Lab
        </a>
    </span>
	</div><!-- /header -->

	<div data-role="content" data-theme="d">	
		<ul data-role="listview" data-filter="true" data-filter-placeholder="Search for phenotype...">
            {% for bodypart in bodyparts %}
                <li data-role="list-divider" class="bodypart">
                    {{bodypart}}
                </li>
                {% for phenotype in phenotypes %}
                    {% if phenotype.bodypart == bodypart and not "Normal" in phenotype.name %}
                        <li>
                            <a href="#genetic_code" data-transition="slide" class="pheno_list_item" data-phenotype="{{phenotype.name}}" data-aminoacids="{{phenotype.amino_acid_name_1.symbol}}-{{phenotype.amino_acid_name_2.symbol}}-{{phenotype.amino_acid_name_3.symbol}}">
                            <img src="{{phenotype.image_filename}}" class="phenotype" />
                            <h2>{{ phenotype.name }}</h2>
                            <!--<p><b>Amino Acid Sequence:</b> {{phenotype.amino_acid_name_1}} {{phenotype.amino_acid_name_2}} {{phenotype.amino_acid_name_3}}</p>-->
                            <p class="aminoseq">{{phenotype.amino_acid_name_1.symbol}} {{phenotype.amino_acid_name_2.symbol}} {{phenotype.amino_acid_name_3.symbol}}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}            
            {% endfor %}
        </ul>
	</div><!-- /content -->
    
	<div data-role="footer">
	</div><!-- /footer -->
</div>

<script>

//var amino_sequences = {"Bwycine": "UUU", "Dentine": "CUA", "Elphine": "AUU", "Higgonine": "UCU", "Ixanine": "CCU", "Jorganine": "ACU", "Kruzosine": "GCU", "Lonkidine": "GCA", "Mewsamine": "CAU", "Niffagine": "CAA", "Orzine": "AAU",
//"Peffaline": "AAA", "Quarbline": "GAU", "Rajormine": "GAA", "Slyctein": "UGU", "Torkanine": "UGA", "Valdine": "CGU", "Worbamine": "CGA", "Yaffline": "AGA", "Zunganine": "GGA" };
    var amino_sequences = {}
    {% for amino_acid in amino_acids %}
    amino_sequences["{{amino_acid.name.name}}"] = "{{amino_acid.nucleotide_1.symbol}}{{amino_acid.nucleotide_2.symbol}}{{amino_acid.nucleotide_3.symbol}}"
    {% endfor %}
    
    var amino_abbreviations = {};
    {% for amino_acid in amino_acids %}
    amino_abbreviations["{{amino_acid.name.name}}"] = "{{amino_acid.name.symbol}}"
    {% endfor %}
    
//var pheno_seq = {"Mirror Palms": "PefWorOrz", "Poblano Pepper Fists": "LonOrzElp", "Cyclone Fists": "YafPefOrz", "Razor Claws": "YafPefWor", "Thunder Clap": "BwySlyLon", "Fiery Fists": "BwySlyTor", "Schocking Palms": "YafPefBwy", "Frozen Fists": "LonTorRaj", "Sweaty Palms": "PefElpTor"};
    var pheno_seq = {}
    {% for phenotype in phenotypes %}
    pheno_seq["{{phenotype.name}}"] = "{{phenotype.amino_acid_name_1.symbol}}{{phenotype.amino_acid_name_2.symbol}}{{phenotype.amino_acid_name_3.symbol}}"
    {% endfor %}

//var pheno_pics = {"Mirror Palms": "/static/images/phenotypes/reflect-hands.jpg", "Poblano Pepper Fists": "/static/images/phenotypes/spicy-hands.jpg", "Cyclone Fists": "/static/images/phenotypes/wind-hands.jpg", "Razor Claws": "/static/images/phenotypes/sharp-hands.jpg", "Thunder Clap": "/static/images/phenotypes/elec-hands.jpg", "Fiery Fists": "/static/images/phenotypes/fire-hands.jpg", "Shocking Palms": "/static/images/phenotypes/noisy-hands.jpg", "Frozen Fists": "/static/images/phenotypes/cold-hands.jpg", "Sweaty Palms": "/static/images/phenotypes/water-hands.jpg", "Normal Hands": "/static/images/phenotypes/normal-hands.jpg", "Normal Horns": "/static/images/phenotypes/normal-horns.jpg", "Normal Mouth": "/static/images/phenotypes/normal-mouth.jpg", "Normal Tail": "/static/images/phenotypes/normal-tail.jpg"};
    var pheno_pics = {}
    {% for phenotype in phenotypes %}
    pheno_pics["{{phenotype.name}}"] = "{{phenotype.image_filename}}"
    {% endfor %}

    var current_phenotype = "hands";

$('#lab').live('pageinit',function(event){

	$("#pheno_img_hands").bind('click', function(){imageOnClick("#pheno_img_hands")});
	$("#pheno_img_horns").bind('click', function(){imageOnClick("#pheno_img_horns")});
	$("#pheno_img_mouth").bind('click', function(){imageOnClick("#pheno_img_mouth")});
	$("#pheno_img_tail").bind('click', function(){imageOnClick("#pheno_img_tail")});

	$("#amino_select_1_hands").bind('onSeek', function() {amino_select_mouseover('','amino_select_1_hands', 'prev')});
	$("#amino_select_2_hands").bind('onSeek', function() {amino_select_mouseover('','amino_select_2_hands', 'prev')});
	$("#amino_select_3_hands").bind('onSeek', function() {amino_select_mouseover('','amino_select_3_hands', 'prev')});









	$("#amino_select_1_horns").bind('onSeek', function() {amino_select_mouseover('','amino_select_1_horns', 'prev')});
	$("#amino_select_2_horns").bind('onSeek', function() {amino_select_mouseover('','amino_select_2_horns', 'prev')});
	$("#amino_select_3_horns").bind('onSeek', function() {amino_select_mouseover('','amino_select_3_horns', 'prev')});




	$("#amino_select_1_mouth").bind('onSeek', function() {amino_select_mouseover('','amino_select_1_mouth', 'prev')});
	$("#amino_select_2_mouth").bind('onSeek', function() {amino_select_mouseover('','amino_select_2_mouth', 'prev')});
	$("#amino_select_3_mouth").bind('onSeek', function() {amino_select_mouseover('','amino_select_3_mouth', 'prev')});

	$("#amino_select_1_tail").bind('onSeek', function() {amino_select_mouseover('','amino_select_1_tail', 'prev')});
	$("#amino_select_2_tail").bind('onSeek', function() {amino_select_mouseover('','amino_select_2_tail', 'prev')});
	$("#amino_select_3_tail").bind('onSeek', function() {amino_select_mouseover('','amino_select_3_tail', 'prev')});

    //TODO Add fight screen confirm
    //Confirm fight
    $('#fight_button').click(FightClick);

    //Cancel fight
    $('#dialog_close').click(function() {$('#fight_confirm').dialog('close');});
	$(function() {		
		
	// initialize scrollable with mousewheel support
	$(".scrollable").scrollable({ vertical: true, circular: true});	
	
	});

    $(".pheno_list_item").click(PhenoListItemClick);

})

$(window).load(function(event){
//Adjust initial amino acid sequences
    $("#amino_select_1_hands").data("scrollable").seekTo(0, 1000);
	$("#amino_select_2_hands").data("scrollable").seekTo(1, 1000);
	$("#amino_select_3_hands").data("scrollable").seekTo(2, 1000);
    
    $("#amino_select_1_horns").data("scrollable").seekTo(5, 1000);
	$("#amino_select_2_horns").data("scrollable").seekTo(6, 1000);
	$("#amino_select_3_horns").data("scrollable").seekTo(7, 1000);
    
    $("#amino_select_1_mouth").data("scrollable").seekTo(8, 1000);
	$("#amino_select_2_mouth").data("scrollable").seekTo(9, 1000);
	$("#amino_select_3_mouth").data("scrollable").seekTo(10, 1000);
    
    $("#amino_select_1_tail").data("scrollable").seekTo(2, 1000);
	$("#amino_select_2_tail").data("scrollable").seekTo(3, 1000);
	$("#amino_select_3_tail").data("scrollable").seekTo(4, 1000);

    //Only display hand options
    $("#lab_horns").hide();
	$("#lab_mouth").hide();
	$("#lab_tail").hide();	    
});

function FightClick() {
	$('#confirm_hands').attr('src', $('#pheno_img_hands').attr('src'));
	$('#confirm_horns').attr('src', $('#pheno_img_horns').attr('src'));
	$('#confirm_mouth').attr('src', $('#pheno_img_mouth').attr('src'));
	$('#confirm_tail').attr('src', $('#pheno_img_tail').attr('src'));

	for (var i in pheno_pics){
		if (pheno_pics[i] == $('#pheno_img_hands').attr('src')) {
			$('#confirm_hands_text').text(i);
		}
	}
	for (var i in pheno_pics){
		if (pheno_pics[i] == $('#pheno_img_horns').attr('src')) {
			$('#confirm_horns_text').text(i);
		}
	}
	for (var i in pheno_pics){
		if (pheno_pics[i] == $('#pheno_img_mouth').attr('src')) {
			$('#confirm_mouth_text').text(i);
		}
	}
	for (var i in pheno_pics){
		if (pheno_pics[i] == $('#pheno_img_tail').attr('src')) {
			$('#confirm_tail_text').text(i);
		}
	}
}
function amino_select_mouseover(event, select_id, type){
	var scroll = "#" + select_id;
	var api = $(scroll).data("scrollable")
	var index = api.getIndex();
	var amino_acid = api.getItems()[index].childNodes[1].childNodes[0].nodeValue;//options[amino_acid_seq];
	console.log(amino_acid);
	var sequence = amino_sequences[amino_acid];
	var amino_id = select_id
	if (amino_id == 'amino_select_1_' + current_phenotype) {
		$("#amino_1_" + current_phenotype +' >h1').text(sequence);
		sync(current_phenotype);
	}
	else if (amino_id == 'amino_select_2_' + current_phenotype) {
		$('#amino_2_' + current_phenotype + ' >h1').text(sequence);
		sync(current_phenotype);
	}
	else if (amino_id == 'amino_select_3_' + current_phenotype) {
		$('#amino_3_'+current_phenotype+ ' >h1').text(sequence);
		sync(current_phenotype);
	}
	//$('amino_' + amino_id > h1)
}


function sync(body_part) {
	// Boolean to determine whether or not a phenotype pic was found
	var changeBool = false;
	// All of the aminoacid sequences together
	var text = $('#amino_sequences_' + current_phenotype).text().replace(/\s+/gm,'');
	// Splice the text string into the separate ones, each representing the amino acid sequence
	var seq_1 = text.substring(0,3);
	var seq_2 = text.substring(3,6);
	var seq_3 = text.substring(6,9);
	var phenotype_seq = "";
	// If each sequence matches one of our amino_acids, add the abbreviation of the amino_acid to the phenotype_seq
    //TODO Replace with dictionary from sequence UUU -> Bwycine
	for (var i in amino_sequences) {
	if (amino_sequences[i] == seq_1)
	    phenotype_seq += (i.substring(0,3));
	}
	for (var i in amino_sequences) {
        if (amino_sequences[i] == seq_2)
             phenotype_seq += (i.substring(0,3));
	}
	for (var i in amino_sequences) {
        if (amino_sequences[i] == seq_3)
             phenotype_seq += (i.substring(0,3));
	}
	console.log(phenotype_seq);

	for (var i in pheno_pics) {
		//If the sequence matches a phenotype sequence that we have in a dictionary
		if (pheno_seq[i] == phenotype_seq){
			// Change and update the pic and text, ONLY if we are in the right body part
			var regexp = new RegExp(current_phenotype);
			// we check to see if we are in the right body part by looking at image filename (each one contains either "hands," "horns," etc.)
			if (regexp.test(pheno_pics[i]) != false) {
				UpdatePic(pheno_pics[i],i,body_part);


				// If we update pic, we have found a phenotype pic, so set bool to true
				changeBool = true;
			}
		}
	}

	// If we did not find a phenotype pic, we have to change picture to a normal one
	if (changeBool == false) {
		//Find the normal phenotype associated with the body part we are on
		var pattern = new RegExp("Normal " + current_phenotype.charAt(0).toUpperCase() + current_phenotype.substring(1));
		console.log(pattern.source);
		// Once we find it, call update pic with the normal one
		for (var i in pheno_pics) {
			if (pattern.test(i) == true)
				UpdatePic(pheno_pics[i], i, body_part);
		}
	}
	
}

function UpdatePic(phenotype, descr,body_part){
	if (body_part == 'hands') {
		$('#pheno_img_hands').attr('src', phenotype);
		console.log($('#current_Hands > img').attr('src'));
		$('#pheno_text_hands').text(descr);
	}
	else if (body_part == 'horns') {
		$('#pheno_img_horns').attr('src', phenotype);
		$('#pheno_text_horns').text(descr);
	}
	else if (body_part == 'mouth') {
		$('#pheno_img_mouth').attr('src', phenotype);
		$('#pheno_text_mouth').text(descr);
	}
	else if (body_part == 'tail') {
		$('#pheno_img_tail').attr('src', phenotype);
		$('#pheno_text_tail').text(descr);
	}
    //TODO Use for updating form values
    $('#fight_'+body_part).val(descr);
}

function imageOnClick(clicked) {
	var img_id = "#pheno_img_" + current_phenotype;
	var current_text = "#pheno_text_" + current_phenotype;
	var current_div = "#lab_" + current_phenotype;
	var new_text = "#pheno_text_" + clicked.substr(11);
	var show_div = "#lab_" + clicked.substr(11);
	
    console.log("img_id "+img_id)
    console.log("current_text "+current_text);
    console.log("current_div "+current_div);
    console.log("new_text "+new_text);
    console.log("show_div "+show_div);
    
	$(current_div).hide();
	$(show_div).show();
	$(current_text).text('');
	console.log(img_id);
	$(img_id).animate({
	width: '50',
	height: '50',
	opacity: 1,	
	}, {duration: 1000, queue: false});

	$(clicked).animate({
	width: '100',
	height: '100',
	opacity: 1,	
	}, {duration: 1000, queue: false});

	current_phenotype = clicked.substr(11);
    console.log("current_phenotype "+current_phenotype);
	for (var i in pheno_pics){
		if (pheno_pics[i] == $(clicked).attr('src'))
			$(new_text).text(i)
	}		
}

function PhenoListItemClick() {
	// Grab the phenotype name and corresponding sequence
    var pheno_name = $(this).data("phenotype");
    var aminoAcids = $(this).data("aminoacids");
	// split the sequence into the three amino acids
	var selected_amino1= aminoAcids.split("-")[0];
	var selected_amino2= aminoAcids.split("-")[1];
	var selected_amino3= aminoAcids.split("-")[2];

	// set the text on the genetic code screen
	$('#selected_phenotype').text(pheno_name);
	$('#selected_amino_1').text(selected_amino1);
	$('#selected_amino_2').text(selected_amino2);
	$('#selected_amino_3').text(selected_amino3);
	// color the backgrounds. Find the cells by class.
    //Set whole table to white
    for (var amino_acid in amino_abbreviations)
    {
        $('.' + amino_abbreviations[amino_acid]).css('background', '#FFFFFF');        
    }
    //Color select amino acids
	$('.' + selected_amino1).css('background', '#FF6666');
	$('.' + selected_amino2).css('background', '#FFFF66');
	$('.' + selected_amino3).css('background', '#99CCFF');
    $('#selected_image').attr('src', pheno_pics[pheno_name]);
}
</script>
</body>

<footer>
</footer>










</html>
