{% extends "beasties/lab.html" %}

{% block unique_scripts %}
    <script type="text/javascript" src="/static/javascript/level1.js"></script>
{% endblock %}
    
{% block unique_css %}
    {% if user_is_mobile %}
    <link rel="stylesheet" type="text/css" href="/static/css/mobile-style.css" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="/static/css/desktop-style.css" />
    {% endif %}
{% endblock %}
    
{% block content_lab %}
    {% for bodypart in bodyparts %}
    <div id="lab_{{bodypart}}"><!-- {{bodypart}} -->  
        <div class="ui-grid-b">                
            {% for i in template_mapping %}
            <div class="ui-block-{{ i|last }}">                
                
               {% if not user_is_mobile %}
                <div class="actions">
                    <a class="prev browse up"></a>
                </div>
                {% endif %}
            
               <div class="scrollable vertical" id="amino_select_{{ i|first }}_{{ bodypart }}">
                   <div class="items">                        {% for aa_name in amino_acid_names %}
                        <div>
                            <div class="item" title="{{aa_name}}">{{aa_name}}</div>
                        </div>
                        {% endfor %}                   </div>               </div>
               
                {% if not user_is_mobile %}
                <div class="actions">
                    <a class="next browse down"></a>
                </div>
                {% endif %}
                
            </div>
            {% endfor %}
                
            <div id="amino_sequences_{{bodypart}}">
            {% if bodypart == bodyparts.0 %}
                <div class="ui-block-a" id="amino_1_{{bodypart}}"><h1>UUU</h1></div>
                <div class="ui-block-b" id="amino_2_{{bodypart}}"><h1>CUA</h1></div>
                <div class="ui-block-c" id="amino_3_{{bodypart}}"><h1>AUU</h1></div>
            {% else %}{% if bodypart == bodyparts.1 %}
                <div class="ui-block-a" id="amino_1_{{bodypart}}"><h1>ACU</h1></div>
                <div class="ui-block-b" id="amino_2_{{bodypart}}"><h1>GCU</h1></div>
                <div class="ui-block-c" id="amino_3_{{bodypart}}"><h1>GCA</h1></div>
            {% else %}{% if bodypart == bodyparts.2 %}
                <div class="ui-block-a" id="amino_1_{{bodypart}}"><h1>CAU</h1></div>
                <div class="ui-block-b" id="amino_2_{{bodypart}}"><h1>CAA</h1></div>
                <div class="ui-block-c" id="amino_3_{{bodypart}}"><h1>AAU</h1></div>
            {% else %}{% if bodypart == bodyparts.3 %}
                <div class="ui-block-a" id="amino_1_{{bodypart}}"><h1>AUU</h1></div>
                <div class="ui-block-b" id="amino_2_{{bodypart}}"><h1>UCU</h1></div>
                <div class="ui-block-c" id="amino_3_{{bodypart}}"><h1>CCU</h1></div>
            {% endif %}{% endif %}{% endif %}{% endif %}
            </div>
        </div>
    </div><!--{{bodypart}}-->
    {% endfor %}
    </div><!-- /content -->
{% endblock %}