<!DOCTYPE html> 
<html> 

<head>
    <!-- Include on all beasties pages -->
	<title>Fight Results</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/jquery.mobile-1.0.min.css" />
    <script src="/static/javascript/jquery-1.6.4.min.js"></script>
    <script src="/static/javascript/jquery.mobile-1.0.min.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery.tools.min.js"></script>
    <!-- Unique CSS -->
<!-- 	<link rel="stylesheet" type="text/css" href="/static/css/scrollable-vertical-m.css" /> -->
	{% if user_is_mobile %}
    <link rel="stylesheet" type="text/css" href="/static/css/scrollable-vertical-mobile.css" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="/static/css/scrollable-vertical-desktop.css" />
    {% endif %}
	<style>
	<style>
    .ui-btn-text {
    white-space: normal;
    }
	</style>
</head> 
<body>

<div data-role="page" id="fight"><!--FIGHT-->
	<div data-role="header">
		<span class="heading"> The Fight</span>
		<div id='graveyard'><a href="/beasties/graveyard/" rel="external" data-role="button" data-theme="a">Choose another enemy</a></div>
	</div>

	<div data-role="content">
		<div class='ui-grid-a' id='loss_descr' style="text-align: center;">
			<div class='ui-block-a' width=66%>
				<span id="outcome">YOU LOST</span>
				<p> {{fight_outcome}} </p>
			</div>
			<div class='ui-block-b' width=33%>
				<img id="beasty_pic" src="{{enemy.image_filename}}" />
			</div>
		</div>
	</div>

	<div data-role="footer" data-theme="a">
        <h4>Wins: {{user_wins}} Losses: {{user_losses}}</h4>
    </div><!-- /footer -->
    
</div><!--/fight-->

<script>

$('#fight').live('pagecreate', function() {
	$('#loss_descr').hide();
	LoseFight();

});

function LoseFight() {
	$('#loss_descr').animate({
	height: 'show',
	}, {duration: 10000, queue: true});
}


</script>

</body>
</html>
