<!DOCTYPE html>
<html>
<head>
    <title>Beasties Graveyard</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
    <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head>

<body> 
<div data-role="page" id="graveyard">

    <div data-role="header" data-theme="a">
        <h1>Beasties Graveyard</h1>
    </div><!-- /header -->

    <div data-role="content" data-theme="a">
    {% if enemy_list %}
        {% for enemy in enemy_list %}
            <img src="{{ enemy.image_filename }}"  height=50 width=50 />
            <a href="#monster" data-rel="dialog" data-transition="pop">{{ enemy.name }}</a>
            <input type="submit" value="Submit" />
        {% endfor %}
    {% else %}
        <p>No enemies exist ... for now.  MUAHAHA!</p>
    {% endif %}
    </div><!-- /content -->
    
    <div data-role="footer" data-theme="a">
        <h4>Choose wisely!</h4>
    </div><!-- /footer -->
</div><!-- /page -->

<div data-role="page" id="monster">

    <div data-role="header" data-theme="a">
        <h1>This is a monster</h1>
    </div><!-- /header -->

    <div data-role="content" data-theme="a">
    <a  href="/beasties" rel="external">Fight!</a></p>
    </div><!-- /content -->
    
    <div data-role="footer" data-theme="a">
    </div><!-- /header -->
</div><!-- /page -->

</body>

</html>
