<!DOCTYPE html> 
<html> 

<head>
	<meta charset="utf-8">
	<title>The Lab</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>
	<script type="text/javascript" src="jquery.tools.min.js"></script>
	<link rel="stylesheet" type="text/css" href="tabs-slideshow.css" />
	<link rel="stylesheet" type="text/css" href="scrollable-pheno.css" />
	<link rel="stylesheet" type="text/css" href="scrollable-vertical-m.css" />
	<style>
.ui-btn-text {
white-space: normal;
}
	</style>
</head> 

	

<body> 

<!--LAB-->
<div data-role="page" id="lab">

	<div data-role="header">
		<table width=100%>
		<tr>
			<td width=50%><span style="font-size: xx-large; font-weight: bold;">The Lab</span></td>
			<td width=50% style="text-align: right"><span><img id="lab_monster" align="right" src="images/enemies/sliceme-1.jpg" width="40px" height="40px" style="margin: 0px 5px;"/>1 Razor Power<br /><a href="#" data-role="button" data-inline="true" data-theme="b">Fight!</a></span></td>
		</tr>
		</table>
	</div><!-- /header -->

	<div data-role="content" data-theme="d">	


				<!--<div>
		   		<div class="pheno_scroll" id="phenotype_switcher">
		   		<div class="pheno_items">
		      			<div><div class="pheno_item" id="current_Hands"><img src="normal-hands.jpg"/><br /><strong>Normal Hands</strong></div></div>
		      			<div><div class="pheno_item" id="current_Horns"><img src="normal-horns.jpg"/><br /><strong>Normal Horns</strong></div></div>
		      			<div><div class="pheno_item" id="current_Mouth"><img src="normal-mouth.jpg"/><br /><strong>Normal Mouth</strong></div></div>
		      			<div><div class="pheno_item" id="current_Tail"><img src="normal-tail.jpg"/><br /><strong>Normal Tail</strong></div></div>
		   		</div>
		   		</div>
				</div>
				<p>Swipe to Change Body Part</p>-->
		<div style="text-align: center;">
		<table cellspacing=0 border=0 style="margin-left: auto; margin-right: auto">
			<tr>
				<td valign="bottom"><img id="pheno_img_hands" src="images/phenotypes/normal-hands.jpg"/></td>
				<td valign="bottom"><img id="pheno_img_horns" src="images/phenotypes/normal-horns.jpg" height="50px" width="50px"/></td>
				<td valign="bottom"><img id="pheno_img_mouth" src="images/phenotypes/normal-mouth.jpg" height="50px" width="50px"/></td>
				<td valign="bottom"><img id="pheno_img_tail"src="images/phenotypes/normal-tail.jpg" height="50px" width="50px"/></td>
			</tr>
			<tr>
				<td id="pheno_text_hands" style="font-weight:bold">Normal Hands</td>
				<td id="pheno_text_horns" style="font-weight:bold"></td>
				<td id="pheno_text_mouth" style="font-weight:bold"></td>
				<td id="pheno_text_tail" style="font-weight:bold"></td>
			</tr>
		</table>		
		</div>

		<div id="lab_hands"><!--HANDS-->  
                <div class="ui-grid-b" style="text-align:center">
		<div class="ui-block-a">
			<div class="actions">
   				<a class="next browse up"></a>
   			</div>
		   <div class="scrollable vertical" id="amino_select_1_hands">
		   <div class="items">
		        <div>
				<div class="item" title="Bwycine">Bwycine</div>
		        </div>

       		        <div>
				<div class="item" title="Dentine">Dentine</div>
			</div>

		        <div>
				<div class="item" title="Elphine">Elphine</div>
			</div>

		        <div>
				<div class="item" title="Higgonine">Higgonine</div>
			</div>

		        <div>
				<div class="item" title="Ixanine">Ixanine</div>
			</div>

		        <div>
				<div class="item" title="Jorganine">Jorganine</div>
			</div>

		        <div>
				<div class="item" title="Kruzosine">Kruzosine</div>
			</div>

		        <div>
				<div class="item" title="Lonkidine">Lonkidine</div>
			</div>

		        <div>
				<div class="item" title="Mewsamine">Mewsamine</div>
			</div>
	
		        <div>
				<div class="item" title="Orzine">Orzine</div>
			</div>

		        <div>
				<div class="item" title="Peffaline">Peffaline</div>
			</div>

		        <div>
				<div class="item" title="Quarbline">Quarbline</div>
			</div>

		        <div>
				<div class="item" title="Rajormine">Rajormine</div>
			</div>

		        <div>
				<div class="item" title="Slyctein">Slyctein</div>
			</div>

		        <div>
				<div class="item" title="Torkanine">Torkanine</div>
			</div>

		        <div>
				<div class="item" title="Vladine">Vladine</div>
			</div>

		        <div>
				<div class="item" title="Worbamine">Worbamine</div>
			</div>

		        <div>
				<div class="item" title="Yaffline">Yaffline</div>
			</div>

		        <div>
				<div class="item" title="Zunganine">Zunganine</div>
			</div>

		   </div>
		   </div>
		       <div class="actions">
			   <a class="prev browse down"></a>
		       </div>
		   </div>
		

		   <div class="ui-block-b">
			<div class="actions">
   				<a class="next browse up"></a>
   			</div>
		   <div class="scrollable vertical" id="amino_select_2_hands">
		   <div class="items">
		        <div>
				<div class="item" title="Bwycine">Bwycine</div>
		        </div>

       		        <div>
				<div class="item" title="Dentine">Dentine</div>
			</div>

		        <div>
				<div class="item" title="Elphine">Elphine</div>
			</div>

		        <div>
				<div class="item" title="Higgonine">Higgonine</div>
			</div>

		        <div>
				<div class="item" title="Ixanine">Ixanine</div>
			</div>

		        <div>
				<div class="item" title="Jorganine">Jorganine</div>
			</div>

		        <div>
				<div class="item" title="Kruzosine">Kruzosine</div>
			</div>

		        <div>
				<div class="item" title="Lonkidine">Lonkidine</div>
			</div>

		        <div>
				<div class="item" title="Mewsamine">Mewsamine</div>
			</div>
	
		        <div>
				<div class="item" title="Orzine">Orzine</div>
			</div>

		        <div>
				<div class="item" title="Peffaline">Peffaline</div>
			</div>

		        <div>
				<div class="item" title="Quarbline">Quarbline</div>
			</div>

		        <div>
				<div class="item" title="Rajormine">Rajormine</div>
			</div>

		        <div>
				<div class="item" title="Slyctein">Slyctein</div>
			</div>

		        <div>
				<div class="item" title="Torkanine">Torkanine</div>
			</div>

		        <div>
				<div class="item" title="Vladine">Vladine</div>
			</div>

		        <div>
				<div class="item" title="Worbamine">Worbamine</div>
			</div>

		        <div>
				<div class="item" title="Yaffline">Yaffline</div>
			</div>

		        <div>
				<div class="item" title="Zunganine">Zunganine</div>
			</div>

		   </div>
		   </div>
		       <div class="actions">
			   <a class="prev browse down"></a>
		       </div>
		   </div>
		

		<div class="ui-block-c">
			<div class="actions">
   				<a class="next browse up"></a>
   			</div>
		   <div class="scrollable vertical" id="amino_select_3_hands">
		   <div class="items">
		        <div>
				<div class="item" title="Bwycine">Bwycine</div>
		        </div>

       		        <div>
				<div class="item" title="Dentine">Dentine</div>
			</div>

		        <div>
				<div class="item" title="Elphine">Elphine</div>
			</div>

		        <div>
				<div class="item" title="Higgonine">Higgonine</div>
			</div>

		        <div>
				<div class="item" title="Ixanine">Ixanine</div>
			</div>

		        <div>
				<div class="item" title="Jorganine">Jorganine</div>
			</div>

		        <div>
				<div class="item" title="Kruzosine">Kruzosine</div>
			</div>

		        <div>
				<div class="item" title="Lonkidine">Lonkidine</div>
			</div>

		        <div>
				<div class="item" title="Mewsamine">Mewsamine</div>
			</div>
	
		        <div>
				<div class="item" title="Orzine">Orzine</div>
			</div>

		        <div>
				<div class="item" title="Peffaline">Peffaline</div>
			</div>

		        <div>
				<div class="item" title="Quarbline">Quarbline</div>
			</div>

		        <div>
				<div class="item" title="Rajormine">Rajormine</div>
			</div>

		        <div>
				<div class="item" title="Slyctein">Slyctein</div>
			</div>

		        <div>
				<div class="item" title="Torkanine">Torkanine</div>
			</div>

		        <div>
				<div class="item" title="Vladine">Vladine</div>
			</div>

		        <div>
				<div class="item" title="Worbamine">Worbamine</div>
			</div>

		        <div>
				<div class="item" title="Yaffline">Yaffline</div>
			</div>

		        <div>
				<div class="item" title="Zunganine">Zunganine</div>
			</div>

		   </div>
		   </div>
		       <div class="actions">
			   <a class="prev browse down"></a>
		       </div>
		   </div>
		
		<div id="amino_sequences_hands">
		<div class="ui-block-a" id="amino_1_hands" style="text-align:center"><h1>UUU</h1></div>
		<div class="ui-block-b" id="amino_2_hands" style="text-align:center"><h1>UUU</h1></div>
		<div class="ui-block-c" id="amino_3_hands" style="text-align:center"><h1>UUU</h1></div>
		</div>
		</div>
		</div><!--/hands-->




		<div id="lab_horns"><!--HORNS-->  
                <div class="ui-grid-b" style="text-align:center">
		<div class="ui-block-a">
			<div class="actions">
   				<a class="next browse up"></a>
   			</div>
		   <div class="scrollable vertical" id="amino_select_1_horns">
		   <div class="items">
		        <div>
				<div class="item" title="Bwycine">Bwycine</div>
		        </div>

       		        <div>
				<div class="item" title="Dentine">Dentine</div>
			</div>

		        <div>
				<div class="item" title="Elphine">Elphine</div>
			</div>

		        <div>
				<div class="item" title="Higgonine">Higgonine</div>
			</div>

		        <div>
				<div class="item" title="Ixanine">Ixanine</div>
			</div>

		        <div>
				<div class="item" title="Jorganine">Jorganine</div>
			</div>

		        <div>
				<div class="item" title="Kruzosine">Kruzosine</div>
			</div>

		        <div>
				<div class="item" title="Lonkidine">Lonkidine</div>
			</div>

		        <div>
				<div class="item" title="Mewsamine">Mewsamine</div>
			</div>
	
		        <div>
				<div class="item" title="Orzine">Orzine</div>
			</div>

		        <div>
				<div class="item" title="Peffaline">Peffaline</div>
			</div>

		        <div>
				<div class="item" title="Quarbline">Quarbline</div>
			</div>

		        <div>
				<div class="item" title="Rajormine">Rajormine</div>
			</div>

		        <div>
				<div class="item" title="Slyctein">Slyctein</div>
			</div>

		        <div>
				<div class="item" title="Torkanine">Torkanine</div>
			</div>

		        <div>
				<div class="item" title="Vladine">Vladine</div>
			</div>

		        <div>
				<div class="item" title="Worbamine">Worbamine</div>
			</div>

		        <div>
				<div class="item" title="Yaffline">Yaffline</div>
			</div>

		        <div>
				<div class="item" title="Zunganine">Zunganine</div>
			</div>

		   </div>
		   </div>
		       <div class="actions">
			   <a class="prev browse down"></a>
		       </div>
		   </div>
		

		   <div class="ui-block-b">
			<div class="actions">
   				<a class="next browse up"></a>
   			</div>
		   <div class="scrollable vertical" id="amino_select_2_horns">
		   <div class="items">
		        <div>
				<div class="item" title="Bwycine">Bwycine</div>
		        </div>

       		        <div>
				<div class="item" title="Dentine">Dentine</div>
			</div>

		        <div>
				<div class="item" title="Elphine">Elphine</div>
			</div>

		        <div>
				<div class="item" title="Higgonine">Higgonine</div>
			</div>

		        <div>
				<div class="item" title="Ixanine">Ixanine</div>
			</div>

		        <div>
				<div class="item" title="Jorganine">Jorganine</div>
			</div>

		        <div>
				<div class="item" title="Kruzosine">Kruzosine</div>
			</div>

		        <div>
				<div class="item" title="Lonkidine">Lonkidine</div>
			</div>

		        <div>
				<div class="item" title="Mewsamine">Mewsamine</div>
			</div>
	
		        <div>
				<div class="item" title="Orzine">Orzine</div>
			</div>

		        <div>
				<div class="item" title="Peffaline">Peffaline</div>
			</div>

		        <div>
				<div class="item" title="Quarbline">Quarbline</div>
			</div>

		        <div>
				<div class="item" title="Rajormine">Rajormine</div>
			</div>

		        <div>
				<div class="item" title="Slyctein">Slyctein</div>
			</div>

		        <div>
				<div class="item" title="Torkanine">Torkanine</div>
			</div>

		        <div>
				<div class="item" title="Vladine">Vladine</div>
			</div>

		        <div>
				<div class="item" title="Worbamine">Worbamine</div>
			</div>

		        <div>
				<div class="item" title="Yaffline">Yaffline</div>
			</div>

		        <div>
				<div class="item" title="Zunganine">Zunganine</div>
			</div>

		   </div>
		   </div>
		       <div class="actions">
			   <a class="prev browse down"></a>
		       </div>
		   </div>
		

		<div class="ui-block-c">
			<div class="actions">
   				<a class="next browse up"></a>
   			</div>
		   <div class="scrollable vertical" id="amino_select_3_horns">
		   <div class="items">
		        <div>
				<div class="item" title="Bwycine">Bwycine</div>
		        </div>

       		        <div>
				<div class="item" title="Dentine">Dentine</div>
			</div>

		        <div>
				<div class="item" title="Elphine">Elphine</div>
			</div>

		        <div>
				<div class="item" title="Higgonine">Higgonine</div>
			</div>

		        <div>
				<div class="item" title="Ixanine">Ixanine</div>
			</div>

		        <div>
				<div class="item" title="Jorganine">Jorganine</div>
			</div>

		        <div>
				<div class="item" title="Kruzosine">Kruzosine</div>
			</div>

		        <div>
				<div class="item" title="Lonkidine">Lonkidine</div>
			</div>

		        <div>
				<div class="item" title="Mewsamine">Mewsamine</div>
			</div>
	
		        <div>
				<div class="item" title="Orzine">Orzine</div>
			</div>

		        <div>
				<div class="item" title="Peffaline">Peffaline</div>
			</div>

		        <div>
				<div class="item" title="Quarbline">Quarbline</div>
			</div>

		        <div>
				<div class="item" title="Rajormine">Rajormine</div>
			</div>

		        <div>
				<div class="item" title="Slyctein">Slyctein</div>
			</div>

		        <div>
				<div class="item" title="Torkanine">Torkanine</div>
			</div>

		        <div>
				<div class="item" title="Vladine">Vladine</div>
			</div>

		        <div>
				<div class="item" title="Worbamine">Worbamine</div>
			</div>

		        <div>
				<div class="item" title="Yaffline">Yaffline</div>
			</div>

		        <div>
				<div class="item" title="Zunganine">Zunganine</div>
			</div>

		   </div>
		   </div>
		       <div class="actions">
			   <a class="prev browse down"></a>
		       </div>
		   </div>
		
		
		<div id="amino_sequences_horns">
		<div class="ui-block-a" id="amino_1_horns" style="text-align:center"><h1>UUU</h1></div>
		<div class="ui-block-b" id="amino_2_horns" style="text-align:center"><h1>UUU</h1></div>
		<div class="ui-block-c" id="amino_3_horns" style="text-align:center"><h1>UUU</h1></div>
		</div>
		</div>
		</div><!--/horns-->  




		<div id="lab_mouth"><!--MOUTH-->  
                <div class="ui-grid-b" style="text-align:center">
		<div class="ui-block-a">
			<div class="actions">
   				<a class="next browse up"></a>
   			</div>
		   <div class="scrollable vertical" id="amino_select_1_mouth">
		   <div class="items">
		        <div>
				<div class="item" title="Bwycine">Bwycine</div>
		        </div>

       		        <div>
				<div class="item" title="Dentine">Dentine</div>
			</div>

		        <div>
				<div class="item" title="Elphine">Elphine</div>
			</div>

		        <div>
				<div class="item" title="Higgonine">Higgonine</div>
			</div>

		        <div>
				<div class="item" title="Ixanine">Ixanine</div>
			</div>

		        <div>
				<div class="item" title="Jorganine">Jorganine</div>
			</div>

		        <div>
				<div class="item" title="Kruzosine">Kruzosine</div>
			</div>

		        <div>
				<div class="item" title="Lonkidine">Lonkidine</div>
			</div>

		        <div>
				<div class="item" title="Mewsamine">Mewsamine</div>
			</div>
	
		        <div>
				<div class="item" title="Orzine">Orzine</div>
			</div>

		        <div>
				<div class="item" title="Peffaline">Peffaline</div>
			</div>

		        <div>
				<div class="item" title="Quarbline">Quarbline</div>
			</div>

		        <div>
				<div class="item" title="Rajormine">Rajormine</div>
			</div>

		        <div>
				<div class="item" title="Slyctein">Slyctein</div>
			</div>

		        <div>
				<div class="item" title="Torkanine">Torkanine</div>
			</div>

		        <div>
				<div class="item" title="Vladine">Vladine</div>
			</div>

		        <div>
				<div class="item" title="Worbamine">Worbamine</div>
			</div>

		        <div>
				<div class="item" title="Yaffline">Yaffline</div>
			</div>

		        <div>
				<div class="item" title="Zunganine">Zunganine</div>
			</div>

		   </div>
		   </div>
		       <div class="actions">
			   <a class="prev browse down"></a>
		       </div>
		   </div>
		

		   <div class="ui-block-b">
			<div class="actions">
   				<a class="next browse up"></a>
   			</div>
		   <div class="scrollable vertical" id="amino_select_2_mouth">
		   <div class="items">
		        <div>
				<div class="item" title="Bwycine">Bwycine</div>
		        </div>

       		        <div>
				<div class="item" title="Dentine">Dentine</div>
			</div>

		        <div>
				<div class="item" title="Elphine">Elphine</div>
			</div>

		        <div>
				<div class="item" title="Higgonine">Higgonine</div>
			</div>

		        <div>
				<div class="item" title="Ixanine">Ixanine</div>
			</div>

		        <div>
				<div class="item" title="Jorganine">Jorganine</div>
			</div>

		        <div>
				<div class="item" title="Kruzosine">Kruzosine</div>
			</div>

		        <div>
				<div class="item" title="Lonkidine">Lonkidine</div>
			</div>

		        <div>
				<div class="item" title="Mewsamine">Mewsamine</div>
			</div>
	
		        <div>
				<div class="item" title="Orzine">Orzine</div>
			</div>

		        <div>
				<div class="item" title="Peffaline">Peffaline</div>
			</div>

		        <div>
				<div class="item" title="Quarbline">Quarbline</div>
			</div>

		        <div>
				<div class="item" title="Rajormine">Rajormine</div>
			</div>

		        <div>
				<div class="item" title="Slyctein">Slyctein</div>
			</div>

		        <div>
				<div class="item" title="Torkanine">Torkanine</div>
			</div>

		        <div>
				<div class="item" title="Vladine">Vladine</div>
			</div>

		        <div>
				<div class="item" title="Worbamine">Worbamine</div>
			</div>

		        <div>
				<div class="item" title="Yaffline">Yaffline</div>
			</div>

		        <div>
				<div class="item" title="Zunganine">Zunganine</div>
			</div>

		   </div>
		   </div>
		       <div class="actions">
			   <a class="prev browse down"></a>
		       </div>
		   </div>
		

		<div class="ui-block-c">
			<div class="actions">
   				<a class="next browse up"></a>
   			</div>
		   <div class="scrollable vertical" id="amino_select_3_mouth">
		   <div class="items">
		        <div>
				<div class="item" title="Bwycine">Bwycine</div>
		        </div>

       		        <div>
				<div class="item" title="Dentine">Dentine</div>
			</div>

		        <div>
				<div class="item" title="Elphine">Elphine</div>
			</div>

		        <div>
				<div class="item" title="Higgonine">Higgonine</div>
			</div>

		        <div>
				<div class="item" title="Ixanine">Ixanine</div>
			</div>

		        <div>
				<div class="item" title="Jorganine">Jorganine</div>
			</div>

		        <div>
				<div class="item" title="Kruzosine">Kruzosine</div>
			</div>

		        <div>
				<div class="item" title="Lonkidine">Lonkidine</div>
			</div>

		        <div>
				<div class="item" title="Mewsamine">Mewsamine</div>
			</div>
	
		        <div>
				<div class="item" title="Orzine">Orzine</div>
			</div>

		        <div>
				<div class="item" title="Peffaline">Peffaline</div>
			</div>

		        <div>
				<div class="item" title="Quarbline">Quarbline</div>
			</div>

		        <div>
				<div class="item" title="Rajormine">Rajormine</div>
			</div>

		        <div>
				<div class="item" title="Slyctein">Slyctein</div>
			</div>

		        <div>
				<div class="item" title="Torkanine">Torkanine</div>
			</div>

		        <div>
				<div class="item" title="Vladine">Vladine</div>
			</div>

		        <div>
				<div class="item" title="Worbamine">Worbamine</div>
			</div>

		        <div>
				<div class="item" title="Yaffline">Yaffline</div>
			</div>

		        <div>
				<div class="item" title="Zunganine">Zunganine</div>
			</div>

		   </div>
		   </div>
		       <div class="actions">
			   <a class="prev browse down"></a>
		       </div>
		   </div>
		
		<div id="amino_sequences_mouth">
		<div class="ui-block-a" id="amino_1_mouth" style="text-align:center"><h1>UUU</h1></div>
		<div class="ui-block-b" id="amino_2_mouth" style="text-align:center"><h1>UUU</h1></div>
		<div class="ui-block-c" id="amino_3_mouth" style="text-align:center"><h1>UUU</h1></div>
		</div>
		</div>
		</div><!--mouth-->  




		<div id="lab_tail"><!--TAIL-->  
                <div class="ui-grid-b" style="text-align:center">
		<div class="ui-block-a">
			<div class="actions">
   				<a class="next browse up"></a>
   			</div>
		   <div class="scrollable vertical" id="amino_select_1_tail">
		   <div class="items">
		        <div>
				<div class="item" title="Bwycine">Bwycine</div>
		        </div>

       		        <div>
				<div class="item" title="Dentine">Dentine</div>
			</div>

		        <div>
				<div class="item" title="Elphine">Elphine</div>
			</div>

		        <div>
				<div class="item" title="Higgonine">Higgonine</div>
			</div>

		        <div>
				<div class="item" title="Ixanine">Ixanine</div>
			</div>

		        <div>
				<div class="item" title="Jorganine">Jorganine</div>
			</div>

		        <div>
				<div class="item" title="Kruzosine">Kruzosine</div>
			</div>

		        <div>
				<div class="item" title="Lonkidine">Lonkidine</div>
			</div>

		        <div>
				<div class="item" title="Mewsamine">Mewsamine</div>
			</div>
	
		        <div>
				<div class="item" title="Orzine">Orzine</div>
			</div>

		        <div>
				<div class="item" title="Peffaline">Peffaline</div>
			</div>

		        <div>
				<div class="item" title="Quarbline">Quarbline</div>
			</div>

		        <div>
				<div class="item" title="Rajormine">Rajormine</div>
			</div>

		        <div>
				<div class="item" title="Slyctein">Slyctein</div>
			</div>

		        <div>
				<div class="item" title="Torkanine">Torkanine</div>
			</div>

		        <div>
				<div class="item" title="Vladine">Vladine</div>
			</div>

		        <div>
				<div class="item" title="Worbamine">Worbamine</div>
			</div>

		        <div>
				<div class="item" title="Yaffline">Yaffline</div>
			</div>

		        <div>
				<div class="item" title="Zunganine">Zunganine</div>
			</div>

		   </div>
		   </div>
		       <div class="actions">
			   <a class="prev browse down"></a>
		       </div>
		   </div>
		

		   <div class="ui-block-b">
			<div class="actions">
   				<a class="next browse up"></a>
   			</div>
		   <div class="scrollable vertical" id="amino_select_2_tail">
		   <div class="items">
		        <div>
				<div class="item" title="Bwycine">Bwycine</div>
		        </div>

       		        <div>
				<div class="item" title="Dentine">Dentine</div>
			</div>

		        <div>
				<div class="item" title="Elphine">Elphine</div>
			</div>

		        <div>
				<div class="item" title="Higgonine">Higgonine</div>
			</div>

		        <div>
				<div class="item" title="Ixanine">Ixanine</div>
			</div>

		        <div>
				<div class="item" title="Jorganine">Jorganine</div>
			</div>

		        <div>
				<div class="item" title="Kruzosine">Kruzosine</div>
			</div>

		        <div>
				<div class="item" title="Lonkidine">Lonkidine</div>
			</div>

		        <div>
				<div class="item" title="Mewsamine">Mewsamine</div>
			</div>
	
		        <div>
				<div class="item" title="Orzine">Orzine</div>
			</div>

		        <div>
				<div class="item" title="Peffaline">Peffaline</div>
			</div>

		        <div>
				<div class="item" title="Quarbline">Quarbline</div>
			</div>

		        <div>
				<div class="item" title="Rajormine">Rajormine</div>
			</div>

		        <div>
				<div class="item" title="Slyctein">Slyctein</div>
			</div>

		        <div>
				<div class="item" title="Torkanine">Torkanine</div>
			</div>

		        <div>
				<div class="item" title="Vladine">Vladine</div>
			</div>

		        <div>
				<div class="item" title="Worbamine">Worbamine</div>
			</div>

		        <div>
				<div class="item" title="Yaffline">Yaffline</div>
			</div>

		        <div>
				<div class="item" title="Zunganine">Zunganine</div>
			</div>

		   </div>
		   </div>
		       <div class="actions">
			   <a class="prev browse down"></a>
		       </div>
		   </div>
		

		<div class="ui-block-c">
			<div class="actions">
   				<a class="next browse up"></a>
   			</div>
		   <div class="scrollable vertical" id="amino_select_3_tail">
		   <div class="items">
		        <div>
				<div class="item" title="Bwycine">Bwycine</div>
		        </div>

       		        <div>
				<div class="item" title="Dentine">Dentine</div>
			</div>

		        <div>
				<div class="item" title="Elphine">Elphine</div>
			</div>

		        <div>
				<div class="item" title="Higgonine">Higgonine</div>
			</div>

		        <div>
				<div class="item" title="Ixanine">Ixanine</div>
			</div>

		        <div>
				<div class="item" title="Jorganine">Jorganine</div>
			</div>

		        <div>
				<div class="item" title="Kruzosine">Kruzosine</div>
			</div>

		        <div>
				<div class="item" title="Lonkidine">Lonkidine</div>
			</div>

		        <div>
				<div class="item" title="Mewsamine">Mewsamine</div>
			</div>
	
		        <div>
				<div class="item" title="Orzine">Orzine</div>
			</div>

		        <div>
				<div class="item" title="Peffaline">Peffaline</div>
			</div>

		        <div>
				<div class="item" title="Quarbline">Quarbline</div>
			</div>

		        <div>
				<div class="item" title="Rajormine">Rajormine</div>
			</div>

		        <div>
				<div class="item" title="Slyctein">Slyctein</div>
			</div>

		        <div>
				<div class="item" title="Torkanine">Torkanine</div>
			</div>

		        <div>
				<div class="item" title="Vladine">Vladine</div>
			</div>

		        <div>
				<div class="item" title="Worbamine">Worbamine</div>
			</div>

		        <div>
				<div class="item" title="Yaffline">Yaffline</div>
			</div>

		        <div>
				<div class="item" title="Zunganine">Zunganine</div>
			</div>

		   </div>
		   </div>
		       <div class="actions">
			   <a class="prev browse down"></a>
		       </div>
		   </div>
		
		<div id="amino_sequences_tail">
		<div class="ui-block-a" id="amino_1_tail" style="text-align:center"><h1>UUU</h1></div>
		<div class="ui-block-b" id="amino_2_tail" style="text-align:center"><h1>UUU</h1></div>
		<div class="ui-block-c" id="amino_3_tail" style="text-align:center"><h1>UUU</h1></div>
		</div>
		</div>
		</div><!--/tail-->  




		<!--<div style="text-align: center"><a href="#" data-role="button" data-inline="false" data-theme="b">Fight!</a></div>-->
		<div class="ui-grid-a">
                    <div class="ui-block-a"><a href="#genetic_codes" data-role="button" data-transition="slide" data-icon="info">Genetic Codes</a></div>
                    <div class="ui-block-b"><a href="#phenotypes" data-role="button" data-transition="slide" data-icon="info">Phenotypes</a></div>
                </div>
	</div><!-- /content -->

	
	<div data-role="footer">
	</div><!-- /footer -->
</div><!--/lab-->







<script>

var beasty_weaknesses = {};
beasty_weaknesses["Twisty"] = "1 Razor Power";
beasty_weaknesses["Muffy"] = "1 Noise Power";
beasty_weaknesses["Evil Queen"] = "1 Shiny Power";
beasty_weaknesses["Mittens"] = "1 Water Power";

var beasty_images = {"Twisty": "images/enemies/sliceme-1.jpg", "Muffy": "images/enemies/hearing-1.jpg", "Evil Queen": "images/enemies/ugly-1.jpg", "Mittens": "images/enemies/cat-1.jpg"};

var amino_sequences = {"Bwycine": "UUU", "Dentine": "CUA", "Elphine": "AUU", "Higgonine": "UCU", "Ixanine": "CCU", "Jorganine": "ACU", "Kruzosine": "GCU", "Lonkidine": "GCA", "Mewsamine": "CAU", "Niffagine": "CAA", "Orzine": "AAU",
"Peffaline": "AAA", "Quarbline": "GAU", "Rajormine": "GAA", "Slyctein": "UGU", "Torkanine": "UGA", "Valdine": "CGU", "Worbamine": "CGA", "Yaffline": "AGA", "Zunganine": "GGA" };

var pheno_seq = {"Mirror Palms": "PefWorOrz", "Poblano Pepper Fists": "LonOrzElp", "Cyclone Fists": "YafPefOrz", "Razor Claws": "YafPefWor", "Thunder Clap": "BwySlyLon", "Fiery Fists": "BwySlyTor", "Schocking Palms": "YafPefBwy", "Frozen Fists": "LonTorRaj", "Sweaty Palms": "PefElpTor"};

var pheno_pics = {"Mirror Palms": "images/phenotypes/reflect-hands.jpg", "Poblano Pepper Fists": "images/phenotypes/spicy-hands.jpg", "Cyclone Fists": "images/phenotypes/wind-hands.jpg", "Razor Claws": "images/phenotypes/sharp-hands.jpg", "Thunder Clap": "images/phenotypes/elec-hands.jpg", "Fiery Fists": "images/phenotypes/fire-hands.jpg", "Shocking Palms": "images/phenotypes/noisy-hands.jpg", "Frozen Fists": "images/phenotypes/cold-hands.jpg", "Sweaty Palms": "images/phenotypes/water-hands.jpg", "Normal Hands": "images/phenotypes/normal-hands.jpg", "Normal Horns": "images/phenotypes/normal-horns.jpg", "Normal Mouth": "images/phenotypes/normal-mouth.jpg", "Normal Tail": "images/phenotypes/normal-tail.jpg"};

var current_phenotype = "hands";

$('#lab').live('pageinit',function(event){
	$("#lab_horns").hide();
	$("#lab_mouth").hide();
	$("#lab_tail").hide();	

	$("#pheno_img_hands").bind('click', function(){imageOnClick("#pheno_img_hands")});
	$("#pheno_img_horns").bind('click', function(){imageOnClick("#pheno_img_horns")});
	$("#pheno_img_mouth").bind('click', function(){imageOnClick("#pheno_img_mouth")});
	$("#pheno_img_tail").bind('click', function(){imageOnClick("#pheno_img_tail")});

	$("#amino_select_1_hands").bind('onSeek', function() {amino_select_mouseover('','amino_select_1_hands', 'prev')});
	$("#amino_select_2_hands").bind('onSeek', function() {amino_select_mouseover('','amino_select_2_hands', 'prev')});
	$("#amino_select_3_hands").bind('onSeek', function() {amino_select_mouseover('','amino_select_3_hands', 'prev')});

	$("#amino_select_1_horns").bind('onSeek', function() {amino_select_mouseover('','amino_select_1_horns', 'prev')});
	$("#amino_select_2_horns").bind('onSeek', function() {amino_select_mouseover('','amino_select_2_horns', 'prev')});
	$("#amino_select_3_horns").bind('onSeek', function() {amino_select_mouseover('','amino_select_3_horns', 'prev')});

	$("#amino_select_1_mouth").bind('onSeek', function() {amino_select_mouseover('','amino_select_1_mouth', 'prev')});
	$("#amino_select_2_mouth").bind('onSeek', function() {amino_select_mouseover('','amino_select_2_mouth', 'prev')});
	$("#amino_select_3_mouth").bind('onSeek', function() {amino_select_mouseover('','amino_select_3_mouth', 'prev')});

	$("#amino_select_1_tail").bind('onSeek', function() {amino_select_mouseover('','amino_select_1_tail', 'prev')});
	$("#amino_select_2_tail").bind('onSeek', function() {amino_select_mouseover('','amino_select_2_tail', 'prev')});
	$("#amino_select_3_tail").bind('onSeek', function() {amino_select_mouseover('','amino_select_3_tail', 'prev')});

	$(function() {		
		
	// initialize scrollable with mousewheel support
	$(".scrollable").scrollable({ vertical: true, circular: true});	
	
	});
})

function amino_select_mouseover(event, select_id, type){
	//amino_acid_seq = this.selectedIndex;
	console.log("SCROLL!");
	var scroll = "#" + select_id;
	var api = $(scroll).data("scrollable")
	var index = api.getIndex();
	var amino_acid = api.getItems()[index].childNodes[1].childNodes[0].nodeValue;//options[amino_acid_seq];
	console.log(amino_acid);
	var sequence = amino_sequences[amino_acid];
	var amino_id = select_id
	if (amino_id == 'amino_select_1_' + current_phenotype) {
		$("#amino_1_" + current_phenotype +' >h1').text(sequence);
		sync(current_phenotype);
	}
	else if (amino_id == 'amino_select_2_' + current_phenotype) {
		$('#amino_2_' + current_phenotype + ' >h1').text(sequence);
		sync(current_phenotype);
	}
	else if (amino_id == 'amino_select_3_' + current_phenotype) {
		$('#amino_3_'+current_phenotype+ ' >h1').text(sequence);
		sync(current_phenotype);
	}
	//$('amino_' + amino_id > h1)
}

function sync(body_part) {
	var text = $('#amino_sequences_' + current_phenotype).text().replace(/\s+/gm,'');
	//var text1 = $('#amino_1').text().replace(/\s+/gm,'');
	var seq_1 = text.substring(0,3);
	var seq_2 = text.substring(3,6);
	var seq_3 = text.substring(6,9);
	var phenotype_seq = "";
	for (var i in amino_sequences) {
	if (amino_sequences[i] == seq_1)
	    phenotype_seq += (i.substring(0,3));
	}
	for (var i in amino_sequences) {
        if (amino_sequences[i] == seq_2)
             phenotype_seq += (i.substring(0,3));
	}
	for (var i in amino_sequences) {
        if (amino_sequences[i] == seq_3)
             phenotype_seq += (i.substring(0,3));
	}
	console.log(phenotype_seq);
	for (var i in pheno_pics) {
		//console.log(pheno_seq[i]);
		if (pheno_seq[i] == phenotype_seq){
			//console.log(pheno_pics[i]);
			UpdatePic(pheno_pics[i],i,body_part);
		}
	}
	
}

function UpdatePic(phenotype, descr,body_part){
	if (body_part == 'hands') {
		$('#pheno_img_hands').attr('src', phenotype);
		console.log($('#current_Hands > img').attr('src'));
		$('#pheno_text_hands').text(descr);
	}
	else if (body_part == 'horns') {
		$('#pheno_img_horns').attr('src', phenotype);
		$('#pheno_text_horns').text(descr);
	}
	else if (body_part == 'mouth') {
		$('#pheno_img_mouth').attr('src', phenotype);
		$('#pheno_text_mouth').text(descr);
	}
	else if (body_part == 'tail') {
		$('#pheno_img_tail').attr('src', phenotype);
		$('#pheno_text_tail').text(descr);
	}
}

function imageOnClick(clicked) {
	var img_id = "#pheno_img_" + current_phenotype;
	var current_text = "#pheno_text_" + current_phenotype;
	var current_div = "#lab_" + current_phenotype;
	var new_text = "#pheno_text_" + clicked.substr(11);
	var show_div = "#lab_" + clicked.substr(11);
	console.log(current_div);
	$(current_div).hide();
	$(show_div).show();
	$(current_text).text('');
	console.log(img_id);
	$(img_id).animate({
	width: '50',
	height: '50',
	opacity: 1,	
	}, {duration: 1000, queue: false});

	$(clicked).animate({
	width: '100',
	height: '100',
	opacity: 1,	
	}, {duration: 1000, queue: false});

	current_phenotype = clicked.substr(11);
	for (var i in pheno_pics){
		if (pheno_pics[i] == $(clicked).attr('src'))
			$(new_text).text(i)
	}		
}



</script>

</body>
</html>
