<!DOCTYPE html> <html> 
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>The Labratory</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />    <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>    <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
	<style>
    .ui-btn-text {
    white-space: normal;
    }
	</style>
</head> <body> <!-- Start of first page: #one --><div data-role="page" id="lab" data-add-back-btn = "false">	<div data-role="header">		<h1>Header<!--{{enemy.name}}--></h1>	</div><!-- /header -->	<div data-role="content">	        <p>Enemy is {{enemy.name}}</p>    </div><!-- /content -->
	<div data-role="footer" data-theme="d">
		<h4>Footer</h4>
	</div><!-- /footer -->
</div><!-- /page one --></body>
</html>