<!DOCTYPE html> 
<html> 

<head>
    <!-- Include on all beasties pages -->
	<title>Fight Results</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/jquery.mobile-1.0.min.css" />
    <script src="/static/javascript/jquery-1.6.4.min.js"></script>
    <script src="/static/javascript/jquery.mobile-1.0.min.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery.tools.min.js"></script>
    <!-- Unique CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/scrollable-vertical-m.css" />
	<style>
    .ui-btn-text {
    white-space: normal;
    }
	</style>
</head> 
<body>

<div data-role="page" id="fight"><!--FIGHT-->
	<div data-role="header">
		<span style="font-size: xx-large; text-align: left;"> The Fight</span>
		<div id='graveyard' style="text-align: right; display: inline; float: right;">
        {% if user_wins == 9 or user_wins == 18 %}
        <a href="/beasties/levelup/" rel="external" data-role="button" data-theme="a">Choose another enemy</a>
        {% else %}
        <a href="/beasties/graveyard/" rel="external" data-role="button" data-theme="a">Choose another enemy</a>
        {% endif %}
        </div>
	</div>

	<div data-role="content">
		<div class='ui-grid-a' id='win_descr' style="text-align: center;">
			<div class='ui-block-a' width=66%>
				{% if user_is_mobile %}
				<span style="font-size: 48px;">YOU WON</span>
				{% else %}
				<span style="font-size: 72px;">YOU WON</span>
				{% endif %}
				<p> {{fight_outcome}} </p>
			</div>
			<div class='ui-block-b' width=33%>
				<img id="beasty_pic" src="{{enemy.image_filename}}" />
			</div>
		</div>
	</div>

	<div data-role="footer" data-theme="a">
        <h4>Wins: {{user_wins}} Losses: {{user_losses}}</h4>
    </div><!-- /footer -->
    
</div><!--/fight-->

<script>

</script>

</body>
</html>
